[2022-03-02 22:51] martindholmes opened #1 "TEI feature request for `@hand` on `<stage>`"
Original ticket:

The Douai team want to encode hand shifts, but their handshifts align perfectly with the document hierarchy (e.g. hand 2 is responsible for adding `<stage>` directions). Using the standoff `<handShift/>` is a bit ugly in this context, and what would be much better would be to use e.e `@hand` on `<stage>`, but it's not available; the range of elements bearing `@hand` (att.written)

[2022-03-02 22:53] martindholmes commented on #1
We currently have a customization in place for this, but as soon as TEI releases a version incorporating the change, we can remove that.

[2022-03-02 22:58] martindholmes opened #2 "`<persName>` versus plain `<name>`"
Original issue:

We need a policy on the use of `<persName>` versus `<name>`; they're both used in free variation, but `<persName>` with `@ref` does not seem to be processed in running text. We should probably standardize on `<persName>` instead of plain `<name>` where `@ref` points to pers: or pros:, and disallow plain name without `@type`. Update processing appropriately.

Further discussion:

P

[2022-03-02 23:15] martindholmes opened #3 "Text-level diagnostics needed"
This is a list of nice-to-have features for a text-level diagnostic process, gathered from editors:

Please add any diagnostic requests here so we can develop feature requests for our developer.

**Working Diagnostics**

- Can we check the accuracy of quotations in the critical paratexts (by checking against their own modern texts)?
- Flag links to non-published documents
- Number of words spoken

[2022-03-02 23:15] martindholmes commented on #3
Some work has already been completed in code/diagnostics/diagnostics_text.xsl.

[2022-03-02 23:17] martindholmes opened #4 "Add programmer documentation for processing pointers and witness lists"
Add documentation in the file lemdo_processingPointers on how pointers are handled; also find or create a location to document what happens with witness list processing.

[2022-03-02 23:17] martindholmes commented on #4
Witness lists are done.

[2022-03-02 23:21] martindholmes opened #5 "Entity pages for PERS1 and PROS1 bios"
Create MoEML-style contributor pages for LEMDO (like mapoflondon.uvic.ca/ELHA1.htm). Currently we can access a pers id on the site as we would any id within another page (PERS1.html#ID), which takes you to the person within PERS1. We want standalone pages that actually represent the credits and responsibilties that we have been discussing.

We'll need to pull these into anthology builds where they

[2022-03-06 18:24] martindholmes opened #6 "Adding `@ana` for documentation divs"
The requirement here is to make the attribute `@ana` available on the `<div>` element with multiple possible values taken from the emdAudiences taxonomy. We don't want to introduce the default `@ana` to the schema because it's then available everywhere, and we have to keep deleting it all over the place, so what I've done today is:

1. Explicitly deleted the att.global.analytic module from the sch

[2022-03-06 18:26] martindholmes commented on #6
@JanelleJenstad @nvatcher Can you test this out and start adding some values so that we can experiment with processing? Also, should I be adding a Schematron rule that prevents the use of this attribute when the `<div>` element is not in a documentation file?

[2022-03-07 05:43] JanelleJenstad commented on #6
@martindholmes: I've tested it by adding <code>@ana</code> to the root divs of 14 files. I've also added two space-separated values in two cases. Works great!

Files with <code>@ana</code> on root div:
data/documentation/
learn_BIBL1.xml
learn_accessingRepository.xml
learn_annotations.xml
 learn_anthStatus.xml
 learn_anthologies.xml
learn_anthologyAboutPages.xml
learn_apparatusIntro.xml
learn_bloc

[2022-03-07 15:58] martindholmes commented on #6
Next step: what do we do with these values?

[2022-03-08 00:02] JanelleJenstad commented on #6
**Next obvious steps:**

1. Add a **new search category** to lemdo-dev/site/search.html. Call it: "Documentation Audiences" and list all the values.

2. Make a pre-populated search link from each of the Quickstarts. (Is that possible? It looks to me as if the Static Search is looking for a word or phrase _in_ documents. It doesn't seem to be set up to give a list of documents that have a certain t

[2022-03-08 00:38] martindholmes commented on #6
1. Is doable, but it means there will be a filter which only applies to a subset of documents. That might be a bit confusing for users.
2. Easy -- do a search using only a filter, and copy the URL. That's your link.

[2022-03-11 18:24] JanelleJenstad commented on #6
1. I think we can frame (1) to avoid confusion.
2. Won't that mean that we have a link from the published documentation on lemdo.uvic.ca to the Jenkins site search?

[2022-03-11 18:37] JanelleJenstad commented on #6
We are trying to document the use of the new '@ana' values. This egXML is triggering an invalidity when we have the xmlns attribute on the root div in the example. If we remove the xmlns attribute, the example is valid. But then the example is patently wrong. '@valid' value of false/true doesn't make a difference.

[code]
We've left you an xml comment in learn_docEncode_audience.xml

[2022-03-11 19:38] martindholmes commented on #6
You can't link to the Jenkins search from a document intended to be published on the site.

We should probably have a protocol for linking to a search URL which replaces all the URL component with a prefix (search:), and then consists of the (escaped) query component of the URL. That would be easy to set up.

[2022-03-11 19:40] martindholmes commented on #6
Why re-apply the TEI namespace in the div in your example? The point of an egXML is that it moves all of the descendant elements into the example namespace. This is probably what you want:

[code]

[2022-03-18 16:40] JanelleJenstad commented on #6
We've followed your recommendation for the encoding of our egXML. -- DONE

"We should probably have a protocol for linking to a search URL which replaces all the URL component with a prefix (search:), and then consists of the (escaped) query component of the URL. That would be easy to set up." --> Please go ahead with this :-)

On the "Search" page, we suggest a box that says "Search Documentation

[2022-03-18 17:02] martindholmes commented on #6
OK, I'll set up the search. But as soon as I've created that search control, any documentation files which don't contain `@ana` attributes will not show up in search results. There are 180 documents without the attribute at the moment; are you OK with having them disappear from the search results when someone uses these controls, or should we wait until the `@ana` values have all been added?

[2022-03-18 17:15] martindholmes commented on #6
On the issue of the prefixDef: having looked at it, we don't want to go there. It is straightforward if you're only using filters, as long as the filters don't happen to have spaces in their captions (many do), but for most cases the problem is that you would have to supply the contents of a query string in the pointing attribute, which leads to all sorts of issues with escaping and unescaping bec

[2022-03-18 17:51] nvatcher commented on #6
Okay, let's wait until we've added those attributes. We will let you know when we've finished doing that.

[2022-03-18 19:37] JanelleJenstad opened #7 "Feature Request: Display A.S.SP on site"
Requested by: Janelle Jenstad and the Interface Team at MRU (Olivia Brodowski, Madeline Scarlett, and Cliff Werier)

### What do you want to be able to do or what functionality do you want to see?
We want to view A.S.SP numbers for plays on the webpages of the modern texts (i.e., files with LEMDO Editorial Treatment letModernSpelling).

### Do we have encoding in place?
Yes

### If yes, what is th

[2022-03-18 19:47] martindholmes commented on #7
@JanelleJenstad Do we have any QME texts that are going to be published in print? I'm a bit concerned that there's not enough space in the left margin for speech numbers on the print layout, so I think there'll be major ramifications to deal wit there. I think I would prefer to put the speech number after the speech prefix in parentheses, since there's always room there:

[code]

rather than end u

[2022-03-18 19:57] martindholmes commented on #7
@JanelleJenstad Turning to the web view, we need to slot the info into e.g. this layout:

[code]

giving us something like this:

[code]

One issue is that using Allegreya, we have a variable-width font, so we need to add lots of padding to be sure that the higher counts are still well-separated from the text itself. This is particularly problematic with e.g. Epilogues, where we either have to ado

[2022-03-18 21:06] JanelleJenstad commented on #7
On [the comment about QME](https://github.com/projectLEMDO/lemdoIssues/issues/7#issuecomment-1072748893):

Yes, the QME editions will be published in the digital anthology and in print.

I really like this option:
[code]

That's an ingenious solution!

[2022-03-18 21:30] JanelleJenstad commented on #7
On the [web view comment](https://github.com/projectLEMDO/lemdoIssues/issues/7#issuecomment-1072755050):

Quick thought about Epilogue -- we could abbreviate to Epi. for the marginal number as well as for the PDFs.

Another thought is to omit all but the speech number from that column. The header at the top of the page will give scene (or act-scene) or epilogue or prologue.

[2022-03-18 22:29] martindholmes commented on #7
Decision from meeting 2022-03-18:

We initially show only the speech number (Sp1) but when you mouse over, the title attribute gives you the full expanded version. This solves the problem for desktop, and avoids the issue with prologues and epilogues. For mobile, we need to also provide a little toggle that will display the full version with a click. This could be done by providing a + character b

[2022-03-22 17:33] JanelleJenstad opened #8 "Check <elementSpec> for <ab> in lemdo.odd"
@martindholmes: We need to add a new value for `<p>`: `<p type="proseLetter`>

At the moment, there's no `<elementSpec>` for `<p>` because we just accept the incoming TEI `<elementSpec>`

I've written a tentative `<elementSpec>` in lemdo.odd and commented it out.

Would you please check it and uncomment it if it's good to go?

[2022-03-22 17:39] JanelleJenstad commented on #5
QME is now at the point of needing more than a soft release. Their old site isn't working well at all, so we'll want to replace it with the new static site when we do a release.

[2022-03-22 17:43] martindholmes commented on #8
@JanelleJenstad Are you sure a paragraph constitutes a prose letter? Assuming a letter is a missive, then it seems to me that it might have multiple paragraphs, rather than actual be a paragraph. Am I misunderstanding?

[2022-03-22 17:45] martindholmes commented on #5
QME beta release has no date attached to it, and we don't have a detailed plan for the lead-up to it. Can we start putting that together?

Has something changed about how the old site is working?

[2022-03-22 17:48] martindholmes commented on #5
Also, while we're looking at this ticket:

We know we need to build individual pages for each of the entities, but it's not clear what will link to them. In MoEML we have a set up where a popup has a title which constitutes a link to the static page for the entity. Should we do the same thing in LEMDO? Will there be any other ways of accessing the individual entity pages? Should they be indexed in

[2022-03-22 17:55] martindholmes commented on #8
Also, `<p>` is not a member of att.typed, so the elementSpec as you've cast it won't work, unfortunately. We'd first have to add `<p>` to att.typed, which would be a non-compliant customization (which is OK, but worth noting), and then we could override it (and delete `@subtype` if we didn't need it). But I'm still not convinced that `<p>` is the right element here; as we've noted elsewhere, `<p>`

[2022-03-22 18:00] JanelleJenstad commented on #8
D'oh! Yes, it should be an `<ab>`. If we can get Council to allow nesting of `<ab>`, then the multiple blocks issue can be handled with `<ab>`s.

I'll go back into the odd file and tweak `<ab>`.

[2022-03-22 18:07] martindholmes commented on #8
When you add the attDef to the ab elementSpec, you might want to make the valList closed rather than open, otherwise people can make typos with the value and they won't get an error.

[2022-03-22 18:26] JanelleJenstad commented on #8
`<attList>
                        <attDef ident="type">
                           <valList mode="change" type="closed">
                              <valItem ident="proseLetter">
                                 <gloss>A prose letter</gloss>
                                 <desc>Use this value to identify a prose letter in an OS or modern text.</desc>
                              </valItem>

[2022-03-22 18:35] JanelleJenstad commented on #8
Okay, I've updated lemdo.odd and committed it. Would you please check it at your convenience to make sure I've done it right?

I don't *think* we use `@type` on `ab` in any other way; if that's true, then `@mode="change"` is fine.

[2022-03-22 19:10] martindholmes commented on #8
What you needed was just slightly different:

[code]

We have to use `@mode="change"` on the attribute itself, because it's already there (provided by ab's membership of att.typed), and because there is no valList in the attribute class definition of `@type`, we have to use `@mode="add"`.

But there's one further issue: we're already using `<ab type="setAsVerse">` and '`<ab type="setAsProse">` in

[2022-03-22 19:25] JanelleJenstad commented on #8
Drat! My first instinct `@mode="change"` then I went back and changed it to `@mode="add"`. Thanks for explaining!

`<ab type="setAsVerse">` and `<ab type="setAsProse">` are products of the IML-TEI conversion process. They are a means of recording temporarily the old `<MODE>` tag in IML.

I suggest we keep them for now, but  add a `<constraintSpec>` to make them invalid in any file that doesn't hav

[2022-03-22 20:17] martindholmes commented on #8
Turns out we have more values to worry about:
[code]
(TTR3_Q1)

[code]
(Lr_FM and elsewhere)

[2022-03-22 23:11] martindholmes commented on #8
@JanelleJenstad What I've done so far is to add the remaining values (hungword, literaryDivision, song) to the schema so that files are not invalid. I've also added a Schematron rule that catches legacy values when they're used on documents which are not IML-TEI (see below). However, I've had to comment it out because lots of documents use them. We'll have to decide how to handle this.

Schematron

[2022-03-23 01:38] JanelleJenstad commented on #8
This is an excellent example of what Alexander Pope meant:

I will keep learning how to write ODD files.

Meanwhile, I'm going to have a look at the broken docs you listed above.

[2022-03-23 02:48] JanelleJenstad commented on #8
I have remediated the 22 instances of `<ab type="literaryDivision">` and REMOVED the `<valItem ident="literaryDivision"> `from the ODD file.

One down...

[2022-03-24 18:16] martindholmes commented on #7
I've just committed an implementation of this for the HTML rendering; let's see what breaks. :-)

[2022-03-25 17:09] JanelleJenstad opened #9 "Write a diagnostic to catch documentation files not listed in lemdo.odd"
Rationale: We have so many documentation files now that it's taking a long time to cross-reference the XML files in lemdo/data/documentation with the TOC in the ODD file.

If possible, would you please write a Diagnostic to list any files in lemdo/data/documentation that are NOT linked in lemdo.odd in a `<? lemdo-include ...` instruction?

[2022-03-25 20:29] JanelleJenstad opened #10 "FR: Implement ptr instead of ref for linking between documentation files"
In documentation files (files starting with learn_), we often link to other documentation files.

Normal encoding:
`<ref target="doc:learn_terminal"><title level="a">Work in the Command Line (Terminal)</title></ref>`

I want to check that the text node of `<ref><title>` matches the text node of the `<head>` that is the child of the `<div>` to whose xml:id we are pointing.

Sometimes we point to ch

[2022-03-25 20:33] martindholmes commented on #10
@JanelleJenstad: I'm sure we talked about this at the last meeting, but maybe you weren't there. I think the way to do this is to use a ptr element that gets expanded at build time with the appropriate document title. That saves you from having to track down every instance of a title when you change it in the original. You would then only use a ref element if for some reason you wanted to provide

[2022-03-25 20:47] JanelleJenstad commented on #10
Yes it does! (And I do remember that conversation, now that you've pinged my memory.)

So does this ticket then become a feature request? You can probably use some of the processing we already have elsewhere for turning `<ptr>`s into ASL or ASSP, and tweak it to supply the content of `<head>`

We would never want to provide a different title than the one in the actual document.

[2022-03-25 21:48] martindholmes commented on #7
@JanelleJenstad On the issue of the PDFs, I think it would be a mistake to put the speech numbers in the left margin. In order to do that, the entirety of the text needs to be shifted to the right, which will dramatically increase the page count. Instead, I suggest that we put the abbreviated form (1.1.Sp1) in the right margin where the line numbers already go, but next to the speech prefix; since

[2022-03-25 22:20] martindholmes commented on #9
Done and committed. Closing.

[2022-03-25 22:20] #9 closed, assigned to martindholmes, JanelleJenstad, nvatcher

[2022-03-25 23:14] martindholmes commented on #10
Yes, let's make this a feature request.

[2022-03-25 23:36] JanelleJenstad commented on #10
@martindholmes: The FR request is as follows:

### What we'd like to do:
In documentation files, use pointers in our encoding and have the processing supply the heads of other documentation divs, wrapped in `<title level="a">` and processed as article titles. This would save us time in the encoding of documentation and ensure that our titles in documentation match the `<head>` elements.

### Encod

[2022-03-26 22:31] JanelleJenstad opened #11 "Add diagnostic for files that need proofing"
### Name of diagnostic:
Remediated files that need proofing

### To list in the diagnostic:
All files that have `@status="IML-TEI_proofing"` on `<revisionDesc>`

[2022-03-26 22:47] martindholmes commented on #11
Does this need a diagnostic? You can just right-click on data/texts and search for that status value to get a list of documents. Do we want to add more time to the build for that?

[2022-03-26 22:58] JanelleJenstad commented on #11
Good point. We already have a Diagnostic that checks for this at the Anthology diagnostics level (i.e., files that don't have the @status="published"). That's probably a better place for it since my team does not want to do the proofing if we don't have to.

Closing this ticket.

[2022-03-26 22:58] #11 closed, assigned to martindholmes

[2022-03-28 17:33] martindholmes commented on #10
@JanelleJenstad @nvatcher I've committed a preliminary implementation in rev 8162; it doesn't require any special attribute on the ptr element, but just assumes that if 'learn_' appears in the `@target`, then it should expand the element using the title from the target div's head element. It does this at an early stage of the documentation rendering, simply replacing the ptr with a ref element in

[2022-03-28 22:32] martindholmes commented on #10
@JanelleJenstad @nvatcher I've now converted all ref elements which contained title elements and were pointing at documentation divs into ptrs. You still have the option to use a ref element if you want custom text that's going to become the link, but otherwise just use a ptr and the title should be filled in automatically at build time.

[2022-03-29 19:00] JanelleJenstad opened #12 "Are multiple pop-ups allowed?"
@martindholmes: I have a dim memory of a discussion in which we vetoed multiple pop-ups in LEMDO texts. Do you remember why? Was it aesthetic (clutters up page?) or was it something to do with Endings-compliance?

[2022-03-29 19:04] JanelleJenstad commented on #7
Completely agree! Great idea.

[2022-03-29 19:08] martindholmes commented on #12
It wasn't to do with Endings-compliance; it was because of clutter and bad design. If you have a page with multiple popups, you need to graft on a whole raft of extra affordances so that users can drag them around and bring them on top of each other. Then you have to graft on yet more stuff to handle the problem of them being dragged over other content, and how that content needs to rearrange itse

[2022-03-29 19:09] martindholmes commented on #7
I'll go ahead with that, then. Any deadline for the PDF changes?

[2022-03-29 19:14] JanelleJenstad commented on #7
End of May at the latest. We want James to be proofreading his H5 text by then so that we can publish it this summer.

[2022-03-29 19:17] JanelleJenstad commented on #12
Thanks! I'll close this ticket now. We'll loop back to the video issue in the next two months because QME will want to see some tweaks to the rendering and functionality before they release.

[2022-03-29 19:17] #12 closed, assigned to nobody

[2022-04-01 18:51] martindholmes opened #13 "Increasing the font size on play pages moves the popup to the left"
If you increase the browser font size on a play text, the popup box for notes and annotations moves over to the left for some reason.

[2022-04-06 21:01] martindholmes commented on #13
Looks like this is intentional behaviour designed to move the popup to the middle of the screen when viewing on a device whose width will not allow for the play text to be alongside the popup. @JanelleJenstad , can you confirm that you're OK with this behaviour for now? The alternative is to keep it over on the right at all times, which seems a bit more intuitive to me; either way, it will end up

[2022-04-06 21:02] martindholmes commented on #10
@JanelleJenstad @nvatcher If you're happy with this, please close the ticket, otherwise let me know what more is needed.

[2022-04-06 21:24] JanelleJenstad commented on #10
@martindholmes: We're happy. Thanks very much!

[2022-04-06 21:24] #10 closed, assigned to martindholmes, JanelleJenstad

[2022-04-06 21:28] JanelleJenstad commented on #13
Keeping it on the right makes more sense to me.

[2022-04-06 21:28] JanelleJenstad commented on #8
I'll press on with this one.

[2022-04-12 18:03] JanelleJenstad commented on #7
I'm closing this ticket and making a new ticket for PDF changes. Thanks for your good work on the online ASSP numbers!

[2022-04-12 18:03] #7 closed, assigned to martindholmes, JanelleJenstad

[2022-04-12 18:06] JanelleJenstad opened #14 "Put A.S.Sp in right margin of speech prefix in PDF"
@martindholmes (on Issue 7) wrote:  "On the issue of the PDFs, I think it would be a mistake to put the speech numbers in the left margin. In order to do that, the entirety of the text needs to be shifted to the right, which will dramatically increase the page count. Instead, I suggest that we put the abbreviated form (1.1.Sp1) in the right margin where the line numbers already go, but next to the

[2022-04-12 18:08] JanelleJenstad commented on #1
Update: Stage has been added to att.written for the forthcoming TEI release. Release starts April 19.

[2022-04-12 18:09] JanelleJenstad commented on #13
@martindholmes: Can we close this ticket now? I don't see a need for any action at the moment.

[2022-04-12 18:10] martindholmes commented on #14
I've actually already done this, but the result is that the layout is screwed because assps are longer than line-numbers. The fallout is that I'll have to re-work the entire page layout, which was already close to breaking anyway (text too close to the paper edges), and there's no simple way to do what we need to do for that, so I'll have to do a lot of experimentation and testing of various LaTeX

[2022-04-12 18:11] martindholmes commented on #13
I haven't turned off the unwanted behaviour yet.

[2022-04-12 18:15] JanelleJenstad opened #15 "Tweak CSS for speaker"
The change from Alegreya-smallCaps to Alegreya for rendering `<speaker>` hasn't been as successful as I'd hoped. The outdenting is great. The size is too big now, though.

Request:
Use a smaller point for the speech prefix than we are currently using. Keep the bold and the outdenting. Make it the same _size_ as the text of the speech.

(This is a small task for _after_ the Wendat release.)

[2022-04-12 19:29] martindholmes commented on #1
Excellent. Action on us would be to remove our customization once it's not needed.

[2022-04-14 15:30] martindholmes commented on #13
Done in rev 8275.

[2022-04-14 15:30] #13 closed, assigned to martindholmes, JanelleJenstad

[2022-04-14 20:49] martindholmes commented on #15
Done in rev 8277.

[2022-04-14 20:49] #15 closed, assigned to martindholmes

[2022-04-14 20:52] martindholmes commented on #5
@JanelleJenstad Any response to the question above yet?

[2022-04-14 23:15] martindholmes opened #16 "Change rendering of `<term>` to quotation marks"
We want to comply with style guides by rendering `<term>` in quotes, to distinguish from `<mentioned>`, which is italics. Many existing instances will then show up as mistagged and need to be fixed.

[2022-04-14 23:53] JanelleJenstad commented on #5
**QME Release Date** Let's set the QME Release milestone  for August 31 (two months after they are supposed to get their peer review report for _Selimus_ back).

**The old staticized sites** The annotations on the old ISE, DRE, and QME sites are popping up on the top left of the page and users have to scroll up to the very beginning of the page to read them. I got a few bug reports from people try

[2022-04-14 23:55] JanelleJenstad commented on #5
**Individual pages for entities**

YES

YES. If people know the URL, they should be able to go directly to a page with URL lemdo.uvic.ca/HOLM1.htm (to see your bio, for example).

Yes please.

[2022-04-15 17:48] martindholmes commented on #5
Good to have a date for the release. I'll be on vacation for the first part of August, but there should be time. Re the old sites: do we need to do anything about that, or is this part of natural degradation? If we have to fix it, is it ahead of fixing the PDFs in the priority list? And re this particular ticket: are the entity pages ahead of the PDF fix, or after it?

[2022-04-18 18:55] JanelleJenstad commented on #5
I’d put it in the category of natural degradation and not do anything about it.

Janelle Jenstad, Associate Professor, Department of English, University of Victoria<https://journals.uvic.ca/index.php/scene/>
Director, Map of Early Modern London<https://mapoflondon.uvic.ca/>; Director, Linked Early Modern Drama Online<https://lemdo.uvic.ca/>
Co-Coordinating Editor, Digital Renaissance Editions<http

[2022-04-21 16:29] JanelleJenstad commented on #1
@martindholmes: Reminder that we can now remove our customization and close this ticket.

[2022-04-21 17:24] martindholmes commented on #1
@JanelleJenstad Thanks for the reminder. Done, and closing.

[2022-04-21 17:24] #1 closed, assigned to martindholmes, JanelleJenstad

[2022-04-21 17:36] martindholmes commented on #16
Fixed in rev 8325.

[2022-04-21 17:36] #16 closed, assigned to martindholmes

[2022-04-22 17:40] nvatcher opened #17 "Change rendering of ident"
We like the grey box, but would like to remove the italicization.

[2022-04-22 21:40] martindholmes commented on #17
@nvatcher What ident, where? Example page? Any clues?

[2022-04-22 22:01] JanelleJenstad commented on #17
We use <ident> through the documentation files to encode paths and filenames. See https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/learn_terminal.html for some examples

[2022-04-22 23:44] martindholmes commented on #17
Thanks! Done in rev 8345.

[2022-04-22 23:44] #17 closed, assigned to nobody

[2022-04-29 19:43] martindholmes commented on #8
@JanelleJenstad @nvatcher  There are 24 remaining cases of ab[@type=('hungword', 'literaryDivision', 'song')]. Is anyone working on these?

[2022-04-29 19:43] martindholmes commented on #6
@nvatcher Any progress with this?

[2022-05-03 17:42] martindholmes opened #18 "Split quotes with `@next`/`@prev` are not rendering correctly"
See quotes split across lines in emdPer_Appolonius; the desired output is a single opening quote and a single closing quote. This should be handled by the XSLT template on l. 244 of xhtml5_templates_tei_module.xsl, but it's not happening.

[2022-05-09 16:54] JanelleJenstad opened #19 "Check rendering of foreign languages and tweak if necessary"
In emdPer_Appolonius.xml, we have a number of paragraphs with an `@xml:lang` attribute and the value `la`.

[code]
They are not rendering in italics but we would like them to be rendered in italics.

The question to @martindholmes is whether we should:

1. Wrap all of these in a `<foreign>` element to make the processing easier, or
2. Have you write processing that italicizes `<p>` elements with x

[2022-05-09 17:03] martindholmes commented on #19
I don't think we have any specific handling for foreign languages, so I wouldn't expect to see any output whatever you do. I think the issue of what language is being used is distinct from the issue of whether you want to render it as foreign; there are lots of cases where (for example) Latin is used but shouldn't be italicized because e.g. CMOS says "Commonly used Latin words and abbreviations sh

[2022-05-10 15:35] martindholmes commented on #19
@JanelleJenstad What do you think we should do on this ticket? Thinking about it, the options are:

1. Stick with the current system, where `@rendition` is used when italics are required.
2. Make all instances of `<foreign>` show in italics. There are 2890 of these in the collection; 626 of them have `@rendition`, and of those, in 312 cases the `@rendition` contains "italic". So we can expect the

[2022-05-29 03:03] JanelleJenstad commented on #18
We have decided to transcribe quotation marks and tag them with `<pc>`. I have made a to-do item in Teams/LEMDO/Documenters to document this.

[2022-05-29 03:03] #18 closed, assigned to martindholmes

[2022-05-30 23:29] JanelleJenstad opened #20 "Tweak rendering of marginal notes"
Sorry -- this one is about supplementary texts :-(

Have a look at emdH5_Holinshed.html.

At some point, we decided to encode authorial/marginal notes in supplementary texts with `<note type="marginal">` and to render them as pop-ups.

The documentation learn_annotationsSupp.html#learn_annotationsSupp_marginal reads as follows:

But we aren't in fact rendering things that way.

I do note that emdH

[2022-06-07 23:18] JanelleJenstad opened #21 "Write schematron to prevent block quotations outside paragraphs."
The issue: Some files (esp. critical paratexts that were first encoded in XWiki markdown) have this structure:

`<p>`Intro to quotation.`</p>`
`<cit><quote/><bibl/></cit>`
`<p>`Commentary on quotation`</p>`

It's valid TEI, so there's nothing in the schema that prevents this encoding. But block quotations should really be inside paragraphs, with a proper introduction to the quotation and a followi

[2022-06-13 16:46] martindholmes commented on #21
@JanelleJenstad there are 597 examples of cit elements interleaved with p elements -- you can use this XPath to find them:

[code]
So it's a bit early for Schematron, and perhaps even for a diagnostic. How do you want to approach this?

[2022-06-13 16:50] martindholmes commented on #20
@JanelleJenstad If you want these marginal notes to be rendered as popups, we'll have to decide what the reader will click on in order to see them. What would you prefer? We can't use numbers, because the editorial notes use the numbering system.

[2022-06-13 16:50] martindholmes commented on #14
I think this can be closed, with any further adjustment being part of the overall PDF styling.

[2022-06-13 16:50] #14 closed, assigned to martindholmes

[2022-06-13 18:41] JanelleJenstad commented on #21
Nicole will go through the lemdo/data/text directory to find and amend those. When she's done, we'll let you know that we're ready for a Diagnostic and possibly Schematron.

[2022-06-15 23:32] JanelleJenstad opened #22 "Include funder element in header module"
For some editions, we need to indicate in the XML the source of the funding (e.g., SSHRC). The obvious way to do it is to use the TEI `<funder>` element, which is designed precisely for this purpose. (Whether or not we display this information in the edition metadata is an open question. @JanelleJenstad will follow up later.)

[code]
Add `<funder>` to this list in ODD file and regen schemas.

[2022-06-17 00:13] JanelleJenstad opened #23 "Create site folder for EMEE anthology"

[2022-06-20 20:47] martindholmes opened #24 "Schematron to catch badly-formatted links in ann/coll files"
Errors like this:

doc:emdSelM#emdSel_M_anc_342

where the target document id is wrong should be caught with schematron.

[2022-06-20 21:11] JanelleJenstad commented on #21
Nicole is just starting on this work now.

[2022-06-20 21:14] JanelleJenstad commented on #20
[Margin: text of note]

[2022-06-20 21:16] JanelleJenstad commented on #20
Let's use a manicule as a clickable symbol.
At the top of the pop-up, put "Marginal Note"

[2022-06-20 21:22] JanelleJenstad commented on #19
In modern texts, <foreign> should be italicized by default. Do not use renditions on `<foreign>`.

[2022-06-20 21:26] martindholmes commented on #19
1. Make all `<foreign>` elements render in italic in modern texts.
2. Remove `@rendition` italicization components from modern texts.
3. Leave `<foreign>` elements alone in OS texts.
4. Create a diagnostic which lists all cases where the text is letOldSpelling or letMixed,  and an `@status` value of IML=TEI_INP, because these must be fixed before we can add Schematron.

[2022-06-20 21:35] JanelleJenstad commented on #8
@JanelleJenstad: Get working on this :-)

[2022-06-21 16:22] #23 closed, assigned to JanelleJenstad

[2022-06-21 16:35] JanelleJenstad opened #25 "Reverse order of Content and Credits tabs in the slide-out "On This Page" box"
Content should be the first tab in the box in the “On This Page” toolbox. Credits should be the second box.

[2022-06-22 19:34] martindholmes opened #26 "Add handling for salute, closer and signature"
All should be blocks, with salute left-aligned and the other two right-aligned.

[2022-06-22 20:39] martindholmes commented on #26
Done in rev 9327.

[2022-06-22 20:39] #26 closed, assigned to martindholmes

[2022-06-22 20:43] martindholmes commented on #25
Done in rev 9328.

[2022-06-22 20:43] #25 closed, assigned to martindholmes

[2022-06-22 21:21] martindholmes commented on #24
Done, and lots of errors found by it fixed, in rev 9329.

[2022-06-22 21:21] #24 closed, assigned to martindholmes

[2022-06-24 22:17] nvatcher commented on #21
I've finished amending those instances that the XPath found.

[2022-06-27 16:46] JanelleJenstad commented on #21
Thanks @nvatcher! @martindholmes: We're now a GO for this bit of Schematron.

[2022-06-27 18:14] JanelleJenstad opened #27 "Fix rendering of speech numbers in Prologues"
Related to issue #28. One fix might do for both issues.

In the sp numbering system in the online texts, Prol.1 speech doesn’t have the appropriate text bearing the link. It's coming up as simply "link." Can we make it Prol.1 or Prologue 1?

For example, see [(https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/emdSel_M.html#emdSel_M_prologue_sp1)](https://j

[2022-06-27 18:19] JanelleJenstad opened #28 "Fix the way that pointers to speeches in Prologue-like things render in the critical paratexts."
Related to Issue #27. The same fix might do for both.

Fix the way that the **pointers from critical paratexts to speeches in prologue** render in the parenthetical citations. E.g., see [emdSel_staging](https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/qme/site/emdSel_staging.html) where it has “link” instead of Prol.#.

[2022-06-27 18:24] JanelleJenstad opened #29 "Make three default renderings for images"
Would you please create for us three default renderings for images in LEMDO, as we have in MoEML?

Left (float image left; text should wrap)
Centre (not sure about text wrapping; happy to do whatever MoEML already does)
Right (float image right; text should wrap)

[2022-06-27 18:57] nvatcher opened #30 "Add diagnostic for paragraph ids that are out of sequence"
Fixing instances of cit in p means that a lot of paragraph xml:ids in critical paratexts are now out of sequence (eg. p94 coming after p92). Could you please make a diagnostic to flag the incorrect ids?

[2022-06-27 20:21] martindholmes commented on #30
Shouldn't p94 come after p92? Or do you mean that some paragraphs have disappeared, and there are gaps? The latter is probably fine; an editor may remove a paragraph at some point, without wishing to renumber and break any incoming links, no?

[2022-06-27 20:38] martindholmes commented on #21
Thanks @nvatcher! Schematron added in rev 9428. Closing the ticket.

[2022-06-27 20:38] #21 closed, assigned to martindholmes, JanelleJenstad

[2022-06-27 20:39] martindholmes commented on #29
@JanelleJenstad What are the implications for the PDF rendering? Also, what about caption location -- above or below? On narrow mobile, should they all go centred? Can you give me examples of existing images which you'd like to see rendered in each of these three modes, so I have something to test with?

[2022-06-27 23:45] JanelleJenstad commented on #30
Nicole's work on `<cit>` (moving it inside `p` elements) means that we now have gaps in the paragraph numbering because we have fewer paragraphs.

[2022-06-28 17:04] nvatcher opened #31 "Italicization of titles"
Titles used as the title at the top of a page should not be italicized. For Documentation, these are the first `head` element. For other files, these are in the `front` of `text`. And for still other files, I think we might be using something from the `titleStmt`.

[2022-06-28 17:07] nvatcher opened #32 "Punctuation after text tagged with term"
The placement of punctuation after things encoded with `<term>` is not right. Commas and periods should be inside the added quotation marks.

Eg. https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/learn_quickStartTEI.html#learn_quickStartTEI_terminology

[2022-06-28 22:10] martindholmes commented on #32
@nvatcher It's notoriously difficult to do this mechanically. I have code from other projects that will do it, but it means rewriting every XSL template that handles a text node to handle this special case, and realistically that's not going to happen. If you want punctuation to appear inside the term element's quotes, then put it in the term element.

As a side note, I've always thought it's both

[2022-06-28 22:10] #32 closed, assigned to nobody

[2022-06-28 22:40] martindholmes commented on #27
The emdSel_M file is not encoded properly. We  have a protocol for ASSP:

[code]

For prologue/epilogue type things, we detect the "pr" or "ps" and then look at the `@n` value on the element to retrieve the correct expansion. We worked this out in great detail, and the units are documented here:

lemdo-dev/site/learn_stableEntities.html

However, that page seems to have invented a new unit which w

[2022-06-28 22:40] #27 closed, assigned to martindholmes

[2022-06-28 22:41] martindholmes commented on #28
I think this is a red herring, just like #27: the encoding in emdSel_M appears to be wrong.

[2022-06-28 22:41] #28 closed, assigned to martindholmes

[2022-06-28 22:41] JanelleJenstad commented on #31
@martindholmes: I've never liked the italicization of page titles. It's really out of step with how books and websites handle their own titles (as opposed to titles of things they cite). It was part of Pat's initial design, I think, and it's been on my mind for ages to have you or Pat change it. We can punt this one to next week's design work, though. I didn't know if it was a processing thing or

[2022-06-28 22:43] martindholmes commented on #30
@JanelleJenstad So they're not out of sequence, they just have gaps? Are we sure this is a bad thing? If anything links to a para id in the text and then they all get renumbered, things will break.

[2022-06-28 22:56] JanelleJenstad commented on #27
D'oh! Yes, of course it's wrongly encoded. I will fix that right now.

"bt" is for "between". Some plays have entre-actes and speeches between scenes (e.g., plays by Ben Jonson). We talked about it extensively in team meetings in 2021. The documentation is here: [https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/learn_intraText.html](https://jenkins.hcmc.u

[2022-06-28 23:07] JanelleJenstad commented on #30
@martindholmes: We are still in the early stages of remediating those. Nicole's work was the first time anyone had touched those files. Let's get the numbering right before we start linking to the now-correct paragraphs. Nicole's deletions were not substantive.

[2022-06-28 23:20] martindholmes commented on #20
OK, so plan of work here:

Process `note[@type='marginal']` just like `note[@type='editorial']` and friends, but put it into a separate list which does not interleave with the others in the standalone XML. Give them their own number-sequenced ids, and add the prefix "[Marginal note]". In place of footnote numbers in the text, use the manicule (after checking how/if it works with our current font s

[2022-06-28 23:26] martindholmes commented on #30
OK, I added Schematron to catch this, and it found eleven broken files, so I guess we can't enable it and we'll have to do this with a diagnostic. Does Elisa's renumbering XSLT just fix this? It should be the absolute simplest case, since it's only paragraphs with no larger divisions. Automated id-ing of plays is fraught, but paras should be OK.

[2022-06-28 23:37] martindholmes commented on #30
@JanelleJenstad  I've just added a quick XSLT to renumber paras. These are the files which have numbering problems:

emdPer_Twine_M
emdH5_CriticalSurvey
emdAHDM_GenIntro
emdHW_GenIntro
emdAHDM_TextIntro
emdFV_PerfIntro
emdCym_TextIntro
emd1H4_StageHistory
emdTN_GenIntro
emdCym_GenIntro

Can you confirm that it's OK to fix all of those? If so, I can go ahead and fix them, then enable the Schematron

[2022-06-28 23:47] JanelleJenstad commented on #30
Yes, those are all fine to fix.

Thanks!

[2022-06-29 03:31] martindholmes commented on #30
Do paras inside block quotes get numbers/ids?

[2022-06-29 17:05] martindholmes commented on #30
This ticket is paused for the moment until we have a policy to enforce regarding ids for paras inside quotes. Once we know that, we can set the Schematron rule and the re-numbering process accordingly, and we're good.

[2022-06-29 20:40] martindholmes commented on #30
This ticket is paused for the moment until we have a policy to enforce regarding ids for paras inside quotes. Once we know that, we can set the Schematron rule and the re-numbering process accordingly, and we're good.

[2022-06-30 20:09] martindholmes commented on #30
I've remediated these files:

emdPer_Twine_M
emdH5_CriticalSurvey
emdAHDM_GenIntro
emdHW_GenIntro
emdAHDM_TextIntro
emdFV_PerfIntro
emdCym_TextIntro
emd1H4_StageHistory
emdTN_GenIntro
emdCym_GenIntro

and a couple of others which had no pointers associated with them, but I've stopped working on this because FV has lots of paras with ids which shouldn't have them (inside quotes) as well as out-of-s

[2022-07-04 20:38] martindholmes commented on #31
@JanelleJenstad It was a design decision, and if you just turn it off, the result looks really crappy. I think a different font will need to be chosen, and there's all the other stuff that will need to be tweaked, such as letter-spacing and font size. I'll assign this to Pat.

[2022-07-04 20:40] martindholmes commented on #31
I've invited Pat to join the project so we can assign this to him.

[2022-07-04 20:41] martindholmes commented on #30
Assigned this back to @JanelleJenstad  and @nvatcher to decide on what to do about FV.

[2022-07-04 23:00] pszpak commented on #31
I'm on it.

[2022-07-06 04:21] JanelleJenstad opened #33 "Need new Regex"
Would you please write a new Regex to find `<lb type="tln" n="#"/>`?

We have this Regex -- `<lb\s+n="\d*\.*\d*"/>` -- which finds `<lb n="#"/>`

I tried these new Regexes but they don't find what I'm looking for and I don't understand why.
`<lb\s+type="."+n="\d*\.*\d*"/>`
`<lb\s+type="tln"+n="\d*\.*\d*"/>`
`<lb\s+type="\tln\"+n="\d*\.*\d*"/>`

Unless I need to add parentheses?

[2022-07-06 04:38] JanelleJenstad commented on #33
Of course, I just found a workaround. Delete `@type="tln"` and then run the original Regex. It's easy enough to delete something that is absolutely consistent!

[2022-07-10 15:53] martindholmes opened #34 "Documentation on quotations should link to documentation on block quotations"
learn_encodeQuotations does not mention or link to learn_blockQuotations, which means that if you end up at the former trying to figure out how to do the latter, you'll concoct a bit of a hack which will break things, as happened yesterday. These two pages should be interlinked.

[2022-07-10 19:41] JanelleJenstad commented on #34
I've moved this documentation into the chapter on Quotations and added it to the intro page ToC.

I'm working on revising the Quotations chapter today (inspired by this ticket). It will all be sorted out by the end of the day.

[2022-07-10 19:41] #34 closed, assigned to JanelleJenstad, nvatcher

[2022-07-11 23:20] #33 closed, assigned to martindholmes

[2022-07-11 23:25] JanelleJenstad opened #35 "Processing for empty rdg elements"
The TEI Guidelines 12.4 ([https://tei-c.org/release/doc/tei-p5-doc/en/html/TC.html#index-body.1_div.12_div.4](https://tei-c.org/release/doc/tei-p5-doc/en/html/TC.html#index-body.1_div.12_div.4)](https://tei-c.org/release/doc/tei-p5-doc/en/html/TC.html#index-body.1_div.12_div.4) indicate that when a witness omits text, the collation should register the omission with an empty `<rdg>` element.

What

[2022-07-12 21:11] martindholmes commented on #35
@JanelleJenstad I think this is already handled as it should be -- here's the template:

[code]

In other words, an empty div with the class "omit" is created. This then USED to be handled in the CSS using generated content, showing "(Omitted)". However, a rewrite of the CSS at some point removed all of that. Pat has now put that back into the current CSS, so it should show up in the next build af

[2022-07-12 22:49] martindholmes commented on #20
@JanelleJenstad I've implemented this in rev 9724, using Unicode U+261B BLACK RIGHT POINTING INDEX for the manicule. I doubt it will work very well or look very good. In MoEML, what we have is a custom interface font with manicule characters in it, but I don't think it's a good idea to add yet another font just for this. I'm also not really sure that it's the right character; it will be sitting in

[2022-07-13 00:51] JanelleJenstad commented on #35
Great! Thanks so much for looking into that and having Pat put back the original CSS. I've documented the practice of using empty <rdg/> elements in learn_encodeCollations just now.
Undoubtedly, I will now have to go look for instances of editors typing Om. and Omitted in their collations, but that is a task for another list.

I will close this ticket now, with thanks.

[2022-07-13 00:51] #35 closed, assigned to martindholmes

[2022-07-13 22:56] martindholmes opened #36 "Processing of titlePage etc."
There is a good argument for the use of the titlePage element and its descendants in modern spelling texts as a set of conceptual elements, as long as the incidental features such as linebreaks and random font size changes are not retained.

Therefore we need to fork the processing of titlePage etc. based on the value of the tax:emdEditorialTreatments catRefs. For letOldSpelling we would keep the

[2022-07-19 20:05] JanelleJenstad opened #37 "Customization of att.placement and Processing of place Attribute"
For details of the Feature Request and notes on the 2022-07-19 impromptu meeting, see: https://uvic.sharepoint.com/:w:/r/sites/PRJLEMDOO/Shared%20Documents/General/4_FeatureRequests/[FeatureRequest_placeAttribute](https://uvic.sharepoint.com/:w:/r/sites/PRJLEMDOO/Shared%20Documents/General/4_FeatureRequests/FeatureRequest_placeAttribute.docx?d=wd46cf7b75cdf4059bed057ee29906caf&csf=1&web=1&e=ygYzaE

[2022-07-19 20:09] martindholmes opened #38 "Reconfiguration of att.placement"
Following a meeting 2022-07-19:

1. From the valList of stage/@place in the lemdo.odd, create a taxonomy of placement categories in TAXO1. Give those categories xml:id attributes of e.g. 'plc-margin-right', from which the schema build process can strip off the 'plc-' to get values consonant with the existing valLists in use.
2. Make that taxonomy the basis for a regenerated valList for att.placeme

[2022-07-19 20:10] martindholmes commented on #38
When these are done as above, look at issue #37 for any further action required.

[2022-07-19 22:42] JanelleJenstad commented on #37
### Teams Comment from @martindholmes:
It's slightly more complicated than we thought, and I misread the ODD file elementSpec for speaker; it doesn't have @place after all (yet).

What we have is two distinct sets of values for @place: in att.placement, there are 19 values:

top-right, top-left, top-centre, bottom-centre, bottom-left, bottom-right, margin-left, margin-right, opposite, overleaf, ab

[2022-07-20 16:58] martindholmes commented on #37
See issue #38.

[2022-07-25 22:33] JanelleJenstad commented on #36
We need this feature for the MoMS release because mayoral pageant books have title pages that we want to retain in the modern text.

[2022-07-25 22:37] JanelleJenstad opened #39 "Eliminate double headings on element specs"
The element specification pages have two identical headings. We don't know why. Putting this issue on Pat's radar in case it's a design issue. Assigning Martin in case it's a processing issue.

See: [Element spec for ab](https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/lemdo_spec_ab.html)

[2022-07-25 22:45] JanelleJenstad opened #40 "Search repo for any files that have both ldtBornDig and ldtPrimary"
Please search the repo for any files that have both ldtBornDig and ldtPrimary.

If there aren’t any, please write Schematron to:

1. make them mutually exclusive categories.
2. require every file (except documentation files, which are rooted on div) have either ldtBornDig or ldtPrimary

[2022-07-25 23:53] JanelleJenstad opened #41 "Consider changing ldtPrimaryApparatus to ldtBornDigParatextCollation"
The principal fork in LEMDO processing and rendering is the distinction between ldtBornDig and ldtPrimary

Collation files have been niggling away at me for a while. Are they really primary, I've been wondering? We originally put them in primary because the lemmas and the readings are short quotations from primary texts. James, Sarah, and Brett (my advisors on textual matters) confirmed that they

[2022-07-28 22:09] martindholmes commented on #41
@JanelleJenstad The only mentions of ldtPrimaryApparatus in the ODD file are in the elementSpecs for relatedItem and span, where remarks say: "This element is only used in the context of a document in the cat:ldtPrimaryApparatus category." As it happens, although collation files do contain relatedItem, none of them contain span elements at all; and there are 142 non-apparatus files which contain r

[2022-07-28 22:13] martindholmes commented on #41
Curses, I found some Schematron... might have to roll back.

[2022-07-28 22:18] martindholmes commented on #41
Easy fix in the Schematron. I've made the change in rev 9958, and we'll see what falls out. This of course affects some of the annotation files as well as the collations, because 17 of them had the wrong cat. I've fixed those in rev 9959.

[2022-07-29 15:42] martindholmes commented on #41
Done, and all fallout now appears to be fixed.

[2022-07-29 15:42] #41 closed, assigned to martindholmes

[2022-07-29 15:49] martindholmes commented on #39
Fix committed in rev 9970. If all is well and the problem is gone, this can be closed.

[2022-07-29 16:01] martindholmes commented on #36
@JanelleJenstad What are the elements we want to support in titlePage in a modern text? This is what I'd suggest:

docAuthor docDate docEdition docImprint docTitle byline titlePart figure

I believe this should give all editors enough latitude to create a meaningful titlePage, and we would render all of these elements as blocks, and decide on a standard CSS ruleset for each one (so the font sizes,

[2022-07-29 16:04] martindholmes commented on #20
I believe all work on this is complete.

[2022-07-29 16:04] #20 closed, assigned to martindholmes, JanelleJenstad

[2022-07-29 16:06] martindholmes commented on #29
@JanelleJenstad Any answers to the questions above? Until we have examples to work with, @pszpak won't be able to do anything.

[2022-07-29 16:17] martindholmes commented on #19
I've done #1 and #2 in rev 9971. I found only 7 cases of a `<foreign>` element with `@rendition` for italic in letModern texts. #3 is no-action, so that leaves just #4. I'm not sure about exactly what we meant to achieve with #4: @JanelleJenstad can you remember exactly what we wanted to know and why?

There is one case of a rendition on a foreign element which is designed to centre it. in FBFB_M,

[2022-07-29 16:33] martindholmes commented on #39
Fixed. Closing.

[2022-07-29 16:33] #39 closed, assigned to martindholmes

[2022-07-29 17:10] JanelleJenstad commented on #36
pubPlace, publisher (children of docImprint, so maybe don't need to explicitly included).

[2022-07-29 17:12] JanelleJenstad commented on #36
`<titlePage>`: center [all child elements inherit centering]
`<titlePart type="main">`: large font
All other `<titlePart>`: normal font

I wouldn't do anything else.

[2022-07-29 17:18] JanelleJenstad commented on #29
"What are the implications for the PDF rendering?" --> Presumably we'd want to align left, center, and align right in the PDF as well and wrap the text around the images. Most of the images are in the Stage History essays, however, which we don't include in the PDF (although given its performance-as-research approach, QME might have different thoughts on that).

"Also, what about caption location

[2022-07-29 17:20] JanelleJenstad commented on #19
Lots of modern editions include trailers (e.g., FINIS is very commonly included in modern editions). So let's leave FBFB_M as is.

I can't remember why we needed a list before we implemented Schematron, unless I wanted to change <foreign> to <hi rendition="rnd:italic"> OS texts before you implemented the rule. Transcribers shouldn't be making judgement calls about foreign language in OS texts; we

[2022-07-29 19:30] martindholmes opened #42 "Spacing before stage directions"
Peter C points out that in this speech:

emdFV_M.html#emdFV_M_s1_sp19

there is too much space between the end of the speech and the stage directions. Can't easily figure out why yet.

[2022-07-29 19:42] martindholmes commented on #42
Assigning back to myself to check this before acting on it, because it looks like it may have been caused by lots of old tln lb elements that were causing FV_M to render badly.

[2022-07-29 19:45] martindholmes opened #43 "Stage directions with multiple values in `@type` may not be rendered properly"
Peter C points out that this kind of stage direction:

emdSel_M.html#emdSel_M_s5

is not rendered as it should be in italics. This is probably because it has multiple values in `@type` (which is probably not good from a TEI point of view either).

[2022-07-29 19:53] martindholmes commented on #43
Added a fix for this in rev 9977. If it's now working, close the ticket.

[2022-07-30 00:40] JanelleJenstad commented on #43
I can't tell if it's fixed! The whole site is looking weird and there's a stylesheet message at the top. Screenshot below.

![image](https://user-images.githubusercontent.com/5943608/181863421-89134ac1-b869-423f-bc78-6911aa986475.png)

[2022-07-30 12:14] martindholmes commented on #43
Fixed now, and the stage direction is correctly rendered in italics.

[2022-07-30 12:14] #43 closed, assigned to martindholmes, JanelleJenstad

[2022-07-30 12:15] martindholmes commented on #42
This is not fixed by removing the extraneous lb elements, so more work to do here.

[2022-07-30 12:31] martindholmes commented on #42
@JanelleJenstad I believe this layout issue -- the difference between the inter-speech spacing in Sel_M and FV_M -- is caused by the fact that FV speeches are all in prose and therefore all contain p elements. I've committed a fix in rev 9992 which solves this. We may want to consider adding more spacing between speeches, though, whether they're verse or prose.

Once we've confirmed that Sel_M and

[2022-07-30 16:12] martindholmes commented on #42
Yes, we are good. Closing now.

[2022-07-30 16:12] #42 closed, assigned to martindholmes

[2022-08-09 17:29] martindholmes commented on #40
There are no files with both, so I've added the Schematron to make them exclusive, and fixed the problem of the `@type` values "Greg" and "Call" being added directly to the ODD file instead of to TAXO1. However, the following 35 files have neither, so before we can make the presence of one of them a requirement, they'll have to be fixed:

emd1H4_M
emd2H4_M
emdAdo_M
emdAHDM_M
emdAWW_M
emdAYL_M
emdC

[2022-08-10 17:09] martindholmes commented on #36
So the steps would be:

1. Specify the contexts in which titlePage should now be allowed.
2. Check for Schematron which would preclude the use of titlePage in these contexts.
3. Decide whether we need separate processing for letModern contexts, or whether all the differences in rendering can be handled with CSS.
4. Choose a sample file to act as a pilot for this.
5. Make any changes required to pr

[2022-08-10 18:02] martindholmes commented on #36
First implementation created in rev 10177. @JanelleJenstad can you take a look at emdTEMP3_M and let me know if that looks as you imagined?

[2022-08-10 19:08] JanelleJenstad commented on #6
Still adding them as we go.

[2022-08-10 19:32] martindholmes commented on #37
@JanelleJenstad I think we got our wires crossed here; we ended up with two tickets. I've implemented and commented out an XSLT function to regenerate the values for any valList of `@place` where the valList has `@mode="replace"`, and I've also converted the largest collection of values for `@place` in the current ODD file into a taxonomy with `@xml:id="emdPlacement"`. At this point it's over to y

[2022-08-10 19:33] martindholmes commented on #38
I've added the rendering XSLT but commented it out, and converted the largest set of current values into a taxonomy, as explained on issue #37, so I'm going to close this ticket and we can continue there.

[2022-08-10 19:33] #38 closed, assigned to martindholmes

[2022-08-10 20:53] Navarra-Houldin opened #44 "Tweak Broken Link Diagnostics"
The broken link diagnostic is turning up links that are encoded correctly and work when rendered. The issue is coming up for links to images and links to chapters of documentation

Example of diagnostic report for image links:
learn_subversion (3)

    img:svnStatus.JPG
    img:svnCommitMessage.JPG

Example of diagnostic report for links to chapters:

learn_quickStartEncoder (9)

    doc:learn_pri

[2022-08-10 21:32] JanelleJenstad commented on #40
Thanks @martindholmes! @Navarra-Houldin is going to add ldtPrimary to all of these files (which, weirdly, are all primary texts).

[2022-08-10 21:37] martindholmes commented on #6
All root documentation divs now have `@ana`, and there's a Schematron rule requiring it. I've also updated processing to ensure they survive through to the standalone XML phase, and some code to create staticSearch meta tags from them. Now waiting to see if that works as expected, and at that point we can see how well they work in the search page.

[2022-08-11 17:43] Navarra-Houldin commented on #40
@martindholmes, I have added ldtPrimaryText to all of these files.

[2022-08-12 18:46] JanelleJenstad commented on #36
Thanks @martindholmes! This implementation looks very nice! I will ask Mark Kaethler what he thinks. If he's happy, I'll close the ticket.

[2022-08-13 22:36] martindholmes commented on #44
The doc: links are showing as broken because these documents don't actually exist in the source; they're the chapters inside the lemdo.odd file. Should be able to add those div ids as valid targets. The img ones are weird; I would have expected all the image links to fail, or none of them. But I notice both of these have upper-case file extensions, which we shouldn't ever do; I'm going to fix thos

[2022-08-13 22:40] martindholmes commented on #44
Upper-case file extensions have now been fixed in rev 10232. We may see some fallout from this on systems which don't properly distinguish between upper- and lower-case in filenames, but that's the precise reason why we try to be strict about the use of case in file and folder names in the repo.

[2022-08-13 23:22] martindholmes commented on #44
OK, fixing the bad file extensions clears those two issues off the list. I've added Schematron to prevent the use of upper-case extensions for images, but I can't rebuild the schema right now because the TEI site is down AGAIN, and our schema build process has a bug which makes it dependent on the p5subset.xml from the TEI site. I'm going to raise another issue for that.

[2022-08-13 23:28] martindholmes opened #45 "Schema build process depends on TEI site being available"
The Schema build process is written in such a way that it depends on retrieving p5subset.xml from the TEI site, at the odd2odd.xsl stage. It looks like a fallback should be used, but I think there is also a bug in the way the odd2odd.xsl stylesheet determines where its source should come from, so supplying a local source doesn't seem to work properly, at least using the DEFAULTSOURCE parameter (an

[2022-08-13 23:56] martindholmes commented on #44
The documentation link issue is fixed in rev 10234. Closing.

[2022-08-14 00:28] martindholmes commented on #44
Schematron now built into the schema,

[2022-08-15 21:32] JanelleJenstad commented on #44
How do we link to chapters whose xml:ids are defined in the ODD file then?
`<ptr target="xmlid">` without the doc: prefix?

[2022-08-16 22:17] JanelleJenstad commented on #40
@martindholmes: We are ready to the implement the Schematron requested in this ticket.

[2022-08-16 22:19] JanelleJenstad commented on #19
I think we can close this ticket now. We are happy with '<foreign>' not being rendered in italics and having editors add a rendition attribute if they want it to italicize.

[2022-08-16 22:22] JanelleJenstad opened #46 "Display paragraph number and make it linkable in critical paratexts"
We have added xml:ids to paragraphs in critical paratexts -- the ones that will be released relatively soon, although not in all the critical paratexts that are in the remediation queue.

Could we now display the paragraph number and make it linkable with a stable URL?

Ask @Navarra-Houldin for examples if you need some.

[2022-08-16 22:25] JanelleJenstad opened #47 "Fix rendering of gap element in critical paratexts."
When an editor quotes a primary or secondary source in a critical paratext and chooses to omit some material from the quotation, our encoding protocol is this:

`<gap reason="sampling">`

At the moment, we have no rendering for this encoding. We would like to have the `gap` element replaced with `[…]` please.

Ask @Navarra-Houldin for examples if necessary.

[2022-08-17 18:49] JanelleJenstad commented on #37
@martindholmes: Update on this ticket: The OS team and I have checked and completed the new `@place` taxonomy. We will have to do a bunch of find-and-replace things on the same day that you uncomment the processing. I suggest that we do it on a day when I'm in HCMC with at least one of @nvatcher or @Navarra-Houldin.

[2022-08-18 21:36] JanelleJenstad opened #48 "Write encoding protocol and processing to link to annotations from annotations and from critical paratexts."
Note new label: blueSky (for things Janelle dreams about).

Dreaming big here: The ISE, QME, and DRE editors have long wanted to be able to point to annotations (from their critical paratexts and from other annotations) but never had a mechanism to do so on the old ISE platform. Instead, they pointed to the part of the text that bore the annotation and hoped the reader would follow along and click

[2022-08-18 21:41] JanelleJenstad opened #49 "Write handling for figure descriptions in PDF output"
For the first time, we have added an image to an edition in a file destined for both HTML and PDF outputs.

The HTML output is reasonably good (although we'll want Pat to tweak it). See [emdH5_GenIntro](https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/emdH5_GenIntro.html).

But the PDF is putting the contents of `figDesc` at the top of the next paragraph.

[2022-08-19 20:05] Navarra-Houldin commented on #46
Could we also make `<div>`s linkable with stable URLs in critical paratexts? They have xml:ids.

[2022-08-19 20:07] Navarra-Houldin commented on #47
`<gap reason="sampling">` **is** rendering as an ellipsis character in the PDF. It is **not** rendering as an ellipsis character on the website.

[2022-08-19 21:10] Navarra-Houldin opened #50 "Tweak rendering of block quotations in PDF"
Looking at the PDF of H5 we note that block quotations are not rendering consistently in the general introduction. Compare the speech that begins with "So when this loose behaviour I throw off" with the speech that begins with "On, you noble English,". The former has extra vertical space before it, but the encoding is the same for both quotations.

The quoted dialogue (beginning with "Then call we

[2022-08-19 21:14] Navarra-Houldin opened #51 "Standardize rendering of Prologue and Epilogue line numbers"
We noted that `<ptr>`s pointing to lines in epilogues and prologues render differently in print and in HTML. E.g., in the PDF it's "Epilogue.12", while in the HTML it's "Epilogue 12".

We want it to render with a space (no period).

[2022-08-19 21:48] Navarra-Houldin opened #52 "Add processing for emphasis in PDFs"
While in H5_GenIntro, we noticed that `<emph>` is not doing anything in the PDF. We want material wrapped in `<emph>` to render in bold, like it does in the HTML.

[2022-08-23 17:28] JanelleJenstad opened #53 "Question about type attribute values on stage element"
@martindholmes : You asked us not to put multiple values on `@type` on `<stage>`. For long stage directions that do multiple things, does it make sense to break them up into multiple `<stage>` elements, each with its own `@type` value? It makes sense to us as encoders, but we're wondering if your processing is expecting multiple stage directions in a row.

` <stage type="entrance">Candidoos wife,

[2022-08-26 22:50] martindholmes opened #54 "Two-line annotation rendering not quite right"
When annotations span multiple lines, the output is supposed to provide a single vertical line to the left of those lines, instead of underlining the linked text inline. This works perfectly except in the case of annotations which span only two lines; in that case, the relevant text in the first line is underlined, and the vertical line only begins to the left of the second line. See for example e

[2022-08-28 22:55] martindholmes commented on #54
On second thoughts, after looking at this, I began to wonder whether it was actually a bug; I thought that perhaps the intention was that when a block annotation begins in the middle of a line, then only that part of the line that is part of the annotation would be underlined, and then any subsequent lines would get the left-hand block line, because if both lines got the block line, then it would

[2022-08-29 21:25] martindholmes opened #55 "Similarity metric for BIBLs should filter out different volumes from the same series"
There is a sequence of candidate duplicate BIBLs in the diagnostics which differ only in being different volumes in the same series (Vol. 1 vs Vol. 2 etc). These are clearly not dupes although their similarity score is high; we should be able to filter these out somehow, by a subsequent comparison that checks whether their difference only amounts to a number following "Vol. ".

[2022-08-29 22:09] martindholmes commented on #55
Completed in rev 10423.

[2022-08-29 22:09] #55 closed, assigned to martindholmes

[2022-08-31 00:39] JanelleJenstad commented on #54
I think it would be better to run the vertical line along the full height of the lines even if only a part of the line is annotated. The consistency will help our users and the interface itself will teach them what to expect (i.e., that a vertical line means an annotation spans a line break).

[2022-09-01 17:06] martindholmes commented on #53
Don't nest these things. That's not the solution to this. It'll break the rendering and be impossible to process properly. And it's also not really the truth, surely? Are there such things as nested stage directions?

`@type` is by definition a single value: "Attributes using this datatype must contain a single ‘word’ which contains only letters, digits, punctuation characters, or symbols: thus it

[2022-09-01 17:08] martindholmes commented on #54
I'm sure that's the original intention, but it's just not working for some cases of two-line annotations, but not all. That's a bit puzzling. I'm going to look at it today.

[2022-09-01 17:46] martindholmes commented on #54
I've confirmed that the difference between the processing of the two example annotations is NOT due to the fact that one is `@type='gloss'` and the other `@type='commentary'`.

[2022-09-01 18:02] martindholmes commented on #54
The sp12 example linked above covers three lines (I didn't think it did before; maybe it has been edited). So it's no longer a good comparison. I also found a case of an annotation covering two lines which includes all of the first line and part of the second; this also suffers from the same problem in reverse (the first line gets the marginal line but the second-line fragment gets an underline):

[2022-09-01 20:28] JanelleJenstad commented on #53
In the example, they are not nested. They are serial stage elements. If you don't like this encoding, then I see two possibilities:
1. We create a value `"mixed"` that we can use on `@type` when the stage direction contains a number of different types.
2. We take up your suggestion of creating combination values: entranceLocation, entranceBusiness, etc.

[2022-09-01 22:03] martindholmes commented on #54
Fix committed in rev 10480. If all is well with Mr Jenkins, we can close this ticket.

[2022-09-01 22:14] martindholmes commented on #47
Fix committed in rev 10841. If all is well, this can be closed.

[2022-09-01 22:15] martindholmes commented on #52
@Navarra-Houldin Are you sure you want emphasis in bold? In print documents it's usually italics.

[2022-09-01 22:28] martindholmes commented on #52
@Navarra-Houldin I've committed a fix in rev 10483 which renders emphasized text in italics. I tried bold, but it just looks wrong in a print document. We probably need a policy on this, but common advice says that if you're using a serif font (as we are in the print text), you should use italics, but if it's a sans-serif then bold may be better. Other advice says to use italics for mild emphasis

[2022-09-01 22:48] martindholmes commented on #49
Initial fix added in rev 10847, but there's more to do. The caption now renders under the image and does not appear in the regular text flow, but the addition of the caption now overflows the intended print area and I think I need to constrain the image size when a caption exists. The problem is that the change in image size is going to have to be controlled by the size of the caption, which is im

[2022-09-01 22:56] JanelleJenstad commented on #52
Oh, this solution is lovely! I hadn't thought we'd be able to render <emph> in different ways. The serif/sans-serif distinction is perfect.

[2022-09-01 23:40] martindholmes commented on #52
I haven't implemented that; it would be really difficult to do, I think. But the PDF is almost entirely in serif anyway, so the italic default should work. If you want to implement the font distinction on the website, then it might be worth asking Pat how practical it would be.

[2022-09-02 03:56] martindholmes commented on #54
Looks good. Closing.

[2022-09-02 03:56] #54 closed, assigned to martindholmes

[2022-09-02 03:57] martindholmes commented on #52
Italics working in PDFs. Closing now; please re-open if you really think bold is better.

[2022-09-02 03:57] #52 closed, assigned to martindholmes

[2022-09-02 03:58] martindholmes commented on #47
Looks good. Closing.

[2022-09-02 03:58] #47 closed, assigned to martindholmes

[2022-09-02 03:59] martindholmes commented on #31
@pszpak @nvatcher Are we done with this?

[2022-09-02 04:04] martindholmes commented on #44
@JanelleJenstad I don't understand the question. The fix worked, and those links no longer show up in the diagnostics. If there's an existing problem you can point at, could you open a fresh ticket with details?

[2022-09-02 04:04] #44 closed, assigned to martindholmes

[2022-09-02 04:06] martindholmes commented on #2
@JanelleJenstad Who's responsible for #1 above? Is this ticket going anywhere or should we just close it?

[2022-09-02 15:48] Navarra-Houldin commented on #52
@martindholmes, it looks wonderful, thank you!

[2022-09-02 19:05] martindholmes commented on #53
Sorry, I misread the code there. A sequence of distinct stage elements is fine, but stage elements are usually rendered as blocks, so these would all appear on separate lines in the modernized view. That would look a bit weird, wouldn't it?

[2022-09-02 19:28] martindholmes commented on #50
That vertical space is a very weird one; the LaTeX code I'm generating in both cases is identical, so it must be the LaTeX processor that's introducing extra vertical space. I have no idea what to do about that.

[2022-09-02 19:32] martindholmes commented on #50
The bibls that render below the quote do so because the quote has block elements in it (sp and/or p).

[2022-09-02 19:54] martindholmes commented on #49
I think this is now working; I've added a sizing component to make room for the caption on the page. Closing.

[2022-09-02 19:54] #49 closed, assigned to martindholmes, JanelleJenstad

[2022-09-05 21:05] JanelleJenstad commented on #53
@martindholmes: Mahayla was successful in her JCURA application, which is based on a research question about stage directions. So the first part of her JCURA will be to think through `@ana` versus `@type` and make an encoding recommendation. We'll leave this ticket open while we think about it during your vacation.

[2022-09-05 21:47] martindholmes commented on #53
Congratulations Mahayla!

I think `@type` is very crude; it's only really useful for mutually exclusive values, but real life doesn't tend to be that simple. @ana lets you combine values from the same and different taxonomies, so you get to work out your ontologies with some subtlety and then use them however you need to.

[2022-09-06 03:14] JanelleJenstad commented on #53
@mahaylagalliford and I are already leaning towards `@ana`
I can add it to the ODD file myself, but we probably don't have default processing for `<stage>` with an `@ana` attribute.
We can everything ready to go (i.e., a plan for a find-and-replace) before you return from the UK.

[2022-09-13 22:10] Navarra-Houldin opened #56 "Tweak Broken Link Diagnostics for Documentation Index"
We have links to the documentation index showing up as urgent broken links in Diagnostics. Those links are rendering and functioning correctly in the HTML output. Can you please tweak diagnostics so that they don't show up as broken?

Here is an example from learn_repoStructure.xml with how they are encoded:

`<p>... For more information on our documentation, go <ref target="doc:learn_docGuide">he

[2022-09-14 07:40] martindholmes commented on #51
I've committed an attempted fix for this, but I'm unable to build and check the PDFs because of encoding problems in H5 and Oth. H5 has:

[code]

while Oth has:

[code]

@JanelleJenstad @Navarra-Houldin could you  look into this so we can test the PDF builds and see if my fix is working?

[2022-09-14 14:23] martindholmes commented on #51
The H5 problems seem to be a strange artifact of working on my laptop, and Jenkins has build the H5 PDF successfully. I believe this is fixed, so I will close, but please re-open if you find any issues.

[2022-09-14 14:23] #51 closed, assigned to martindholmes

[2022-09-14 14:40] martindholmes commented on #46
@Navarra-Houldin I think divs are already linkable aren't they? E.g.

lemdo-dev/site/emdH5_GenIntro.html#emdH5_GenIntro_hauntedPlay

Do you mean that you would like to have the same clickable symbol next to the heading as we have in the documentation?

[2022-09-14 17:29] Navarra-Houldin commented on #46
@martindholmes Yes please. A clickable symbol should make navigation easier for users of the site.

[2022-09-14 17:51] Navarra-Houldin commented on #51
It looks great, thanks @martindholmes!

[2022-09-14 22:40] Navarra-Houldin opened #57 "Tweak rendering of mentioned"
Text wrapped in `<mentioned>` isn't rendering in italics in the PDF. Please tweak so that it does.

[2022-09-19 17:44] JanelleJenstad opened #58 "Allow hi element as child of lem and rdg"
Editors need to be able to use italics in their collations. Please tweak the schema to allow `<hi>` as child of `<lem` and `<rdg>`. It's allowed in TEI-all but we  have disallowed it in our schema.

[2022-09-19 17:47] JanelleJenstad opened #59 "Tweak processing of entrances."
`<stage type="entrance">` is not rendering the same way as the other stage directions. Please adjust processing so that it gets the same treatment as all other stage directions.

Example:
![image](https://user-images.githubusercontent.com/5943608/191080595-bf601e2b-2cc1-4e86-b496-3c3ea8d25fd2.png)

[2022-09-20 16:49] Navarra-Houldin opened #60 "Display annotations in head elements in PDF"
Notes in annotation files that point to anchors wrapped in the `<head>` element in modern files are not rendering in the PDF output. Please tweak so that they do show up.

Encoding in the modern file:
`<head><anchor xml:id="emdH5_FM_anc_87"/>1.1<anchor xml:id="emdH5_FM_anc_88"/></head>`

Encoding in the annotation file:
`<note type="annotation" target="doc:emdH5_FM#emdH5_FM_anc_87"

[2022-09-20 17:46] martindholmes commented on #50
I've committed a workaround for what seems to be a Xelatex bug resulting in the empty line, in rev 10659.

[2022-09-20 20:03] martindholmes commented on #60
Fix committed in rev 10665: we move the footnote number to the next line of text, which is usually a stage direction. The content of head elements is constructed in PDFs, so the content which is being annotated doesn't actually exist in the output.

[2022-09-20 20:16] martindholmes commented on #59
Fix committed in rev 10666: entrances are now treated identically to exits. This seems to be a change in editorial policy, so I'm waiting for confirmation before closing the ticket.

[2022-09-20 20:22] martindholmes commented on #58
Our schema does not modify the content of `<rdg>` at all; virtually anything is allowed in it. We do have a modified content model for `<lem>` which is very restrictive:

[code]

I've modified this to add `<hi>` to it in rev 10667. Closing the ticket.

[2022-09-20 20:22] #58 closed, assigned to martindholmes

[2022-09-20 20:26] martindholmes commented on #57
Fixed in rev 10668.

[2022-09-20 20:26] #57 closed, assigned to martindholmes

[2022-09-20 20:28] martindholmes commented on #53
There's a fair amount of code that'll have to change for this, because we have special attribute processing for `@type` and some convoluted CSS for the various stage types, so when you have the plan ready, we'll have to set aside a few hours to do the work.

[2022-09-20 20:45] martindholmes commented on #59
Confirmed, so closing.

[2022-09-20 20:45] #59 closed, assigned to martindholmes

[2022-09-20 21:03] martindholmes commented on #56
Fixed in rev 10671.

[2022-09-20 21:03] #56 closed, assigned to martindholmes

[2022-09-20 21:04] martindholmes commented on #36
@JanelleJenstad any word from Mark? Can we close this?

[2022-09-20 21:05] martindholmes commented on #2
@JanelleJenstad Last call on this ticket! If there's nothing specific to work on, I'm going to close it.

[2022-09-20 23:00] JanelleJenstad commented on #2
**_We have 10050 `<persName>` elements across the project._**

**Expected uses of `<persName>`**
- We have 500 `<persName>` elements in PERS1 and 272 in PROS1 (where one would expect to see them).
- `<persName>` also shows up in the edition pages in `<byline>` (probably not necessary because it's effectively running prose, but your processing might be expecting `<persName>`
- and in the character

[2022-09-27 16:02] martindholmes commented on #60
@Navarra-Houldin Could you take a look at the output and see if it works OK for you?

[2022-09-27 16:03] martindholmes commented on #50
Closing this since it seems to be working OK now.

[2022-09-27 16:03] #50 closed, assigned to martindholmes

[2022-09-27 16:12] Navarra-Houldin commented on #60
@martindholmes  It looks good to me! Thanks :)

[2022-09-27 16:14] martindholmes commented on #46
So, just to clarify the steps we need to take, and raise a couple of other questions:

1. Some critical paratexts now have paragraph ids of this form: ` xml:id="emdH5_GenIntro_p1"`. Where these occur, a number corresponding to the digit(s) following the _p should be placed in the margin, forming an anchor and a link. This will require that the text itself be moved to the right in order to accommod

[2022-09-27 16:16] martindholmes commented on #60
OK, closing this. Thanks @Navarra-Houldin !

[2022-09-27 16:16] #60 closed, assigned to martindholmes, Navarra-Houldin

[2022-09-27 16:27] Navarra-Houldin commented on #46
@martindholmes That all sounds correct to me. I agree that there shouldn't be any implications for the PDF - the goal is to make it easier to find and cite certain parts of the text, and the PDF already has page numbers to do that.

[2022-09-27 16:51] martindholmes commented on #40
Done in rev 10748.

[2022-09-27 16:51] #40 closed, assigned to martindholmes, JanelleJenstad, nvatcher, Navarra-Houldin

[2022-09-27 18:19] martindholmes commented on #22
@JanelleJenstad I saw this while I was working on the schema and just implemented it so it's done. The wrinkle is that if you want to use `<funder>` in `<editionStmt>`, you must have an `<edition>` element preceding it; you can't mix `<p>` or `<ab>` elements with `<funder>`. It's one of those content models where you get either a stricter structure or a loose model.pLike collection, but not both.

[2022-09-27 18:30] martindholmes commented on #6
This does not appear to be working, in that the staticSearch meta tags are not being created. Looking into it now. Looks like `@ana` attributes do not survive to the standalone XML phase.

[2022-09-28 22:58] martindholmes opened #61 "Annotation labels appear not to be used in HTML popups"
In lemdo-dev/site/emdH5_Q1M.html, an annotation appears crossing two lines, with resolved / Of being the label, but instead of the label, "resolved ... Of" appears in the popup. The label should be what's used in the popup, so this needs investigation.

[2022-09-28 23:17] martindholmes opened #62 "Schematron to prevent multiple note[@type="annotation"] from pointing to the same anchors"
Things fall apart when there are multiple `note[@type="annotation"]` elements which point at the same anchor(s), so we need Schematron to prevent this.

[2022-09-29 15:28] martindholmes commented on #61
@JanelleJenstad Looking into this, I see that it's caused by a template in the code that generates the original XML. That template has this comment:

So it looks like the intention was to supply `note[@type="label"]`s where they didn't exist. There are three cases of this:

Line 1545 of emdCnC_M_annotation.xml
Line 1655 of emdCnC_M_annotation.xml
Line 2507 of emc1HW_M_annotation.xml

It seems to m

[2022-09-29 16:01] martindholmes commented on #62
@JanelleJenstad @nvatcher Three questions arising out of this:

1. There are three cases (and only three) where a note has a target attribute which contains two pointers, one for the beginning and one for the end of the range. I presume these are just aberrations, and I can move the second pointer to a targetEnd attribute, then add Schematron to constraint `@target` to a single pointer?
2. Althoug

[2022-10-04 20:42] martindholmes commented on #61
@JanelleJenstad I've resolved the first two cases above; I added a label to the first one, and the second was an empty annotation anyway so I've commented it out. I should be able to switch to using the labels now.

[2022-10-04 21:00] martindholmes commented on #61
I've also fixed three other cases where either the note type was wrong or a label was present but empty. I've committed the Schematron rule in rev 10905.

[2022-10-06 16:33] martindholmes commented on #61
I think all is well with the build, so I'm closing this.

[2022-10-06 16:33] #61 closed, assigned to martindholmes, JanelleJenstad

[2022-10-06 16:45] martindholmes commented on #46
`#2` is done in rev 10926.

[2022-10-06 17:09] martindholmes commented on #46
`#2` is done in rev 10928.

Leaving this ticket open so we can confirm that the build looks/works as intended.

[2022-10-06 18:31] martindholmes commented on #45
This is a little more complicated than it seems; the fallback for the defaultTEIServer is our teijenkins server, which should solve the problem, but it does seem to fail when the TEI server is down. There is a collection of conditionals that make it quite tricky to trace what's happening. It tries to use the local Oxygen plugin version of p5subset.xml and the stylesheets, which is probably the bes

[2022-10-12 22:43] martindholmes commented on #62
Re No. 1: We should insist on `@targetEnd` for a second pointer, and make `@target` into a single pointer in the schema.

More generally, we should put this ticket on hold until we know what changes are going to be made for footnote processing.

[2022-10-12 23:14] martindholmes opened #63 "We need to know the scale of the overlapping-annotation problem"
We are encountering interface issues with complex sets of overlapping annotations, and there are a number of possible approaches to remediating this, all of which are currently on the table. Before we decide, it's important that we discover the scale of the problem. That's not easy to do, but we do need to have a sense of whether this is a phenomenon restricted to a few cases in a few texts (in wh

[2022-10-12 23:17] martindholmes commented on #46
Closing this.

[2022-10-12 23:17] #46 closed, assigned to martindholmes, JanelleJenstad, Navarra-Houldin

[2022-10-14 22:58] martindholmes opened #64 "Render thumbnail page images like DVPP"
Rather than have a fancy lightbox thing as we do now (which isn't working properly), we should try following the simple approach of DVPP to load full-scale images into thumbnail sizes and then expand them on mouseover. Page-weight may be an issue, so this should be experimental, and we may have to use generated thumbnails instead.

[2022-10-19 23:12] LEMDO-PM opened #65 "Make XInclude for Links to Authority IDs"
Please make an XInclude to add the IDNO Authorities `<div>` in TAXO1.emd (xml:id="emdIdnoTaxonomy") to learn_editionBibliography#learn_editionBibliography_links

[2022-10-20 22:53] martindholmes commented on #65
@LEMDO-PM Can you give me a bit more detail? I don't understand the request, and I don't think we use XInclude anywhere in the project -- I don't want to use it if we can possibly avoid it.

[2022-10-20 22:55] martindholmes opened #66 "Page titles in html/head/title in anthology pages still have a "LEMDO:" prefix"
I'm not actually sure how/when this prefix gets added to the pages, but it must happen for all pages in the lemdo-dev build, and we'll need to replace it with the anthology identifier during the anthology build phase.

[2022-10-20 23:02] martindholmes commented on #66
First shot at a fix committed in rev 11048.

[2022-10-21 17:30] martindholmes commented on #66
Working. Closing.

[2022-10-21 17:30] #66 closed, assigned to martindholmes

[2022-10-21 18:00] martindholmes commented on #29
@JanelleJenstad @pszpak Over to Pat for examples of how HTML should look; once we know that, we need to decide:

1. What to do with all the existing encoded images. Presumably they can't all be manually fixed in one pass, so they'll all have to get a default rendering we can all live with.
2. How to schedule the changes, including any issues for the PDF rendering, given that various things need to

[2022-10-21 18:49] martindholmes commented on #29
My sense from the encoding point of view is that we should use `<figure>/@type` to specify these three different types of images. The reason for this is that a parent figure elements is required for any graphic which needs a caption, and is also required in order to provide alt text for an image, and since all graphics really should have alt text, and many graphics that need to be displayed in spe

[2022-10-21 22:13] martindholmes commented on #29
Summarizing my discussion with @pszpak today, for @JanelleJenstad and @Navarra-Houldin:

 - All TEI `<graphic>` elements will be required to have `@width` and `@height` attributes. Implication for the team: someone will have to add these to around 63 elements in the documentation and 529 in the text folder.
 - All TEI `<graphic>` elements will have to be wrapped in `<figure>` elements, which must

[2022-10-21 22:54] martindholmes commented on #63
I'm half-way through writing an XQuery to figure this out, but it's tricky.

[2022-10-21 23:40] LEMDO-PM commented on #29
@martindholmes thanks for keeping us posted! We'll get started on adding the `@width` and `@height` attributes and the `<desc>`/`<figDesc>` elements, and wrapping `<graphic>` elements in `<figure>`.

In addition to the images in critical paratexts and OS texts, there are images in annotation files (for example, in emdH5_FM_annotation.xml). Can we use the new type values there as well, or will we n

[2022-10-21 23:45] LEMDO-PM commented on #29
@martindholmes do you also want to require `@mimeType` on all `<graphic>` elements?

[2022-10-21 23:47] martindholmes commented on #29
It's fine to use the same encoding in annotations, but because of their context they'll all be rendered centred anyway. The existing style and rendition elements will have no function, but the style att is having an effect right now, so things will change in the short term if you remove it.

[2022-10-21 23:48] martindholmes commented on #29
Our documentation says the mime type should be there. Can't remember exactly why, though.

[2022-10-24 16:03] LEMDO-PM commented on #65
@martindholmes We want to add a table that pulls the information from TAXO1 like we do in our taxonomies documentation chapter (for example, the table [here](https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/learn_taxoDocType.html#learn_taxoDocType_bornDigital) which is encoded like this: `<?taxonomy-table ref="ldtBornDig"?>`). That way the table stays up-

[2022-10-24 16:08] martindholmes commented on #65
Ah, that's a processing instruction. Will do.

[2022-10-24 16:23] martindholmes commented on #65
Added in rev 11071. If all is well, we can close this.

[2022-10-24 22:00] martindholmes commented on #65
Seems to be working. Closing this.

[2022-10-24 22:00] #65 closed, assigned to martindholmes, LEMDO-PM

[2022-10-24 23:01] martindholmes commented on #19
Closing this -- I think it got missed.

[2022-10-24 23:02] martindholmes commented on #53
@JanelleJenstad Where are we at with this? Is a taxonomy ready yet?

[2022-10-25 21:52] mahaylagalliford commented on #53
@JanelleJenstad and I are still engaging with the academic scholarship around stage directions, dictionaries, and taxonomies as well as exploring potential TEI alternatives to clarify our approach to encoding stage directions in semi-diplomatic transcriptions. We are still leaning toward `@ana` at this time as it allows us more specificity. At this point in the research, we are finding many more q

[2022-10-26 23:08] martindholmes opened #67 "Marginal stage directions need to be floated right"
Both left and right marginal stage directions (@place = ('margin-left', 'margin-right') ) should be rendered floated to the right, so they don't overlap with speech numbers etc.

[2022-10-26 23:14] martindholmes commented on #19
Decision reversed at LEMDO meeting 2022-10-26: All foreign elements should be rendered in italics, and people that tag things that shouldn't be italic will be told not to tag such things as e.g. "ad hoc".

[2022-10-28 16:27] martindholmes commented on #63
I've learned enough to know that there are too many of these to ignore, and we just have to handle the rendering. Closing this and opening another one.

[2022-10-28 16:27] #63 closed, assigned to martindholmes

[2022-10-28 16:38] martindholmes opened #68 "Multiple popups from the same link are not working"
Where a single block of text is linked to multiple annotations, multiple popups should be displayed. It looks like they are being displayed, but the way it happens is that the "exemplar" popup box is cloned for each popup, and that means that they arrange themselves with only one visible on-screen at a time, with the others invisible and out of sight until you scroll.

First of all, the behaviour

[2022-10-28 17:09] martindholmes commented on #68
In my initial investigation today, I looked at the cited example from our minutes (emdTTR3_M.html#emdTTR3_M_s1_sp1), but I don't see any nested annotations there; the following speech has them, but it seems to be behaving relatively well in that when you click on linked text, you see the annotation which is most closely tuned to that specific text. Waiting to see if the team has any more straightf

[2022-10-28 17:17] martindholmes commented on #68
The speeches have been renumbered, so it's now emdTTR3_M.html#emdTTR3_M_pr1_sp1. This has a separate annotation on the word "vendicta". What I'm seeing is the popups displaying one below the other. Now we have something to focus on.

[2022-10-28 18:47] martindholmes commented on #68
Fixes committed in revs up to 11154. There may be consequences for downstream anthology CSS, but I've substantially simplified the popup HTML structure and the show/hide system, and modified the CSS to match. This should be a little easier to maintain.

[2022-10-28 22:04] martindholmes commented on #68
I think this is working as expected, but there's one more thing I want to fix: when you click on an apparatus symbol, the relevant text is highlighted; it's unhighlighted when you close the popup, but if you leave the popup open and click on another thing, it remains highlighted, because of the change in the way things function. I need to clear that highlighting.

[2022-10-28 22:12] martindholmes commented on #68
Problem above fixed in rev 11158. Unless any more oddities are reported in the next couple of days, this ticket can be closed.

[2022-10-31 18:03] martindholmes commented on #68
Closing this.

[2022-10-31 18:03] #68 closed, assigned to martindholmes

[2022-10-31 18:30] martindholmes commented on #62
I believe there is no longer any need for this, since the rewrite of note popup code seems to have solved it. At least, I cannot find any instances of problems caused by it, and tested instances of notes pointing at the same anchor seem to be working fine.

[2022-10-31 18:30] #62 closed, assigned to martindholmes

[2022-10-31 18:32] martindholmes commented on #36
Closing this because no response from MK.

[2022-10-31 18:32] #36 closed, assigned to martindholmes, JanelleJenstad

[2022-10-31 18:33] martindholmes commented on #22
@JanelleJenstad Should I close this now?

[2022-10-31 18:34] martindholmes commented on #8
@JanelleJenstad Should we just close this?

[2022-10-31 20:17] LEMDO-PM opened #69 "Remove indents from verse speeches"
In modern texts, speeches encoded as verse are rendering with an indent in front of the first line. This isn't happening to prose speeches. Please change it so that there is no indent before the first line of speeches.

Here is an example from [emdSel_M 1Sp4] with an indent before the 'P':
![Selimus Indent](https://user-images.githubusercontent.com/116194494/199101032-a6a4dc20-df97-476c-ad91-29aba

[2022-10-31 20:29] LEMDO-PM opened #70 "Fix breaking vertical lines for annotations"
When a vertical line for an annotation goes across two speeches or across a stage direction and a speech (even if the annotation itself isn't on both the stage direction and the speech - see the first example below), the line is breaking. Please change processing so that the lines don't break.

Example from Selimus 2 Sp1 (annotation spans multiple lines, one line contains a stage direction that is

[2022-11-03 23:25] martindholmes commented on #70
I believe this is now fixed.

[2022-11-03 23:25] #70 closed, assigned to martindholmes, JanelleJenstad, LEMDO-PM

[2022-11-03 23:26] martindholmes commented on #31
OK, I'm closing this.

[2022-11-03 23:26] #31 closed, assigned to JanelleJenstad, pszpak

[2022-11-03 23:30] martindholmes commented on #19
I believe this is now working.

[2022-11-03 23:30] #19 closed, assigned to martindholmes

[2022-11-03 23:31] martindholmes commented on #69
I believe PS has now fixed this.

[2022-11-03 23:31] #69 closed, assigned to martindholmes, JanelleJenstad, LEMDO-PM

[2022-11-03 23:32] martindholmes commented on #30
@JanelleJenstad Is this ticket moribund? Can we kill it?

[2022-11-03 23:52] martindholmes commented on #6
Committed a fix for this in rev 11245. If all is well, this can be closed.

[2022-11-03 23:57] martindholmes opened #71 "Remove `<head>` from the content model of `<listBibl>`"
We would prefer that a heading for a biblio list be encoded as a head in a containing div, and not as a head inside a listBibl.

[2022-11-04 01:59] JanelleJenstad commented on #71
@martindholmes: I've tidied the encoding and made sure there are no `<head>` elements inside `<listBibl>`. You are clear to revise the content model.

[2022-11-04 02:02] JanelleJenstad commented on #30
It's not moribund. It was in stasis because I forgot all about it. I'll get @LEMDO-PM on the case of fixing up the paragraphing in FV and then we'll reassign it to you.

[2022-11-04 04:14] JanelleJenstad commented on #8
No. Let's reassign to @LEMDO-PM, who is good at working these sorts of things into their workflow.

[2022-11-04 05:48] JanelleJenstad commented on #22
Closing. Thanks for adding `<funder>` to the schema!

[2022-11-04 05:48] #22 closed, assigned to JanelleJenstad

[2022-11-04 15:24] martindholmes commented on #71
I found a bunch more this morning in

data/anthologies/emee/entries/emee_childbirth.xml
data/anthologies/moms/credits/moms_sources.xml
data/texts/TTR3/crit/emdTTR3_Bibliography.xml

Fixed those. Now I'll make the schema change.

[2022-11-04 15:31] JanelleJenstad commented on #71
Thanks for catching those!

[2022-11-04 15:51] martindholmes commented on #71
Change to schema committed in rev 11248. Validated everything first, but you never know. If this build succeeds, we can close the ticket.

A bit more on the rationale here: It's never clear at what level of the document a listBibl might appear. We have a reliable system for figuring out what HTML element (or in the PDF what font size) should be generated when processing heads in divs, but allowing

[2022-11-04 17:46] LEMDO-PM commented on #30
I've fixed the out-of-order and extra paragraph numbers in emdFV_PerfIntro and updated all of the pointers linking to those paragraphs. Committed in revision 11251.

[2022-11-04 18:38] LEMDO-PM commented on #8
I've fixed the four instances of <ab type="song"> that I found, but I didn't come across any instances of @type="literaryDivision" or "hungword". Does that seem right? I expect that people have been removing them as they remediate.

[2022-11-04 20:59] martindholmes commented on #71
All looks good. Closing.

[2022-11-04 20:59] #71 closed, assigned to martindholmes

[2022-11-08 22:44] martindholmes opened #72 "QME credits the LEMDO Team, but the ORGS file is not included in the anthology so the link fails"
Two options spring to mind:

1. Quick-and-dirty: include the ORGS file automatically.
2. Better: include orgs via a pruning process that eliminates any that are not linked in the anthology.

[2022-11-08 22:49] JanelleJenstad commented on #72
I vote for the better option.

[2022-11-09 00:19] LEMDO-PM opened #73 "Add rendering for <gloss>"
Please add quotation marks around things tagged with <gloss>, but exclude GLOSS1 from that rendering (we don't want the definitions in GLOSS1 to be wrapped in quotation marks).

[2022-11-09 19:20] JanelleJenstad opened #74 "Text is scrolling under menus"
![image](https://user-images.githubusercontent.com/5943608/200921436-2c5b335d-99d9-4496-91b6-4928807a4943.png)

Hi Pat,
I noticed this bug on the MoMS site. It's happening on all the anthologies.

[2022-11-09 19:22] JanelleJenstad commented on #74
Also note this behaviour:

![image](https://user-images.githubusercontent.com/5943608/200922162-17644795-071a-477b-a7d4-5b4a9c41913d.png)

[2022-11-14 17:34] martindholmes commented on #74
I see this on MOMs but not e.g. on QME.

[2022-11-14 17:48] LEMDO-PM opened #75 "Fix rendering of pointers to act/scene numbers"
When we are pointing to scenes in plays with both acts and scenes, only the scene number is rendering in the HTML (not the act and scene number). Please change rendering so that the act and scene number both appear.

Example: [https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/emdH5_GenIntro.html#emdH5_GenIntro_p9](url)

Encoding:

`<p xml:id="emdH5_GenIntr

[2022-11-14 18:01] martindholmes commented on #75
This looks like a misunderstanding; everything is functioning exactly as it's designed to do. Our rules say that when you point at something using localCit, the first thing we check is whether the element pointed to has an `@n` attribute; if it does, then that attribute should be used to form the text of the link. Only if there is no `@n` attribute should the ASSP pointer be parsed to construct a

[2022-11-15 00:23] pszpak commented on #74
I did fix the the first issue by adding a background colour (other than the current transparent), but not the second issue because:

Before I get into the css of mayoral shows we'll nail down the look this week (in the form of a mockup for things like color, logo, and splash page). It'll then be implemented and we can then squash css rendering problems that occur with that design.

[2022-11-15 00:23] #74 closed, assigned to martindholmes, JanelleJenstad, pszpak

[2022-11-17 17:43] LEMDO-PM opened #76 "Suppress examples coming from TEI into LEMDO's classSpec"
Our att.placement page ([https://jenkins.hcmc.uvic.ca/job/LEMDO/lastSuccessfulBuild/artifact/products/lemdo-dev/site/lemdo_spec_att.placement.html](url)) is pulling in examples from the TEI classSpec ([https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.placement.html](url)). These examples don't match our new vocabulary. Please suppress the incoming examples from TEI.

[2022-11-17 18:40] martindholmes commented on #76
In rev 11382 I've switched the classSpec to `@mode="replace"` and copied in the descs from the P5 source. I think that'll do it, but we'll wait on the build to see.

[2022-11-17 22:23] martindholmes commented on #76
Working, so closing.

[2022-11-17 22:23] #76 closed, assigned to martindholmes, LEMDO-PM

[2022-11-17 22:25] martindholmes commented on #75
My comment above is just wrong; the requirement for `@n` is specifically for anything that's going to be printed, because the print output doesn't use the ASSM scheme, it relies on `@n` attributes and line numbers generated at build time. So we do need these attributes for anything intended for print. I've now modified the HTML output generation so that it only uses the `@n` attribute when it cont

[2022-11-17 22:25] #75 closed, assigned to martindholmes, LEMDO-PM

[2022-11-18 18:24] martindholmes commented on #67
Note that this has been impacted by the change to the `@place` attribute; the new values would be "plc-right-margin" and "plc-left-margin". We need to be sure that we do want to move all of these over to the right, since we now also have some rules regarding where exits and entrances should be rendered, so I'm assigning this to JJ and NH to get proper guidance on it. Perhaps nothing actually needs

[2022-11-18 18:26] martindholmes commented on #53
I'm going to close this ticket since it doesn't have a directly actionable component right now.

[2022-11-18 18:26] #53 closed, assigned to martindholmes, JanelleJenstad

[2022-11-18 18:28] martindholmes commented on #6
Seems to be working. Closing.

[2022-11-18 18:28] #6 closed, assigned to martindholmes, JanelleJenstad, nvatcher

[2022-11-18 18:34] martindholmes commented on #8
These remain:

emd3LL_Q1: hungword
emdAWW_F1: setAsProse, setAsVerse
emdDaP_Q1: hungword
emdHam_F1: setAsVerse
emdHam_Q1M: setAsProse
emdLC_Q1: hungword
emdLLL_Q1: hungword
emdLr_F1: setAsProse, setAsVerse
emdLr_Q1: setAsVerse
emdOWT_Q1: setAsVerse
emdPP_O2: hungword
emdR3_Q1: hungword
emdTro_Q1: hungword
emdWiv_F1: setAsProse, setAsVerse
emdWiv_Q1: hungword
emdWoB_Q1: hungword

(XPath: `for $t in

[2022-11-18 18:53] martindholmes commented on #2
@JanelleJenstad There are many uses of `<name>` in cases like this:

`This edition would not have been possible without the patient care and good humour of <name ref="pers:GREA1">Brett Hirsch</name>. `

The output in these cases is identical to the use of a `<persName>` in the same context; the name becomes a link which shows the popup bio.

I think I would like to propose that in the long run:

1

[2022-11-19 00:32] LEMDO-PM commented on #8
@martindholmes, thanks! I've just committed after fixing/removing all of them.

[2022-11-19 01:03] JanelleJenstad opened #77 "Editorial Declaration gets handled differently from other metadata, with rendering consequences"
For an example, go to this page: products/moms/site/emdDEVI3_edition.html and click on About / Metadata.

In the conversion to HTML,  `<editorialDecl>
            <p>This edition was edited according to the MoMS Editorial Guidelines.</p>
         </editorialDecl>` is turned into a `<html:div data-el="p">` because of the `<tei:p>`. The other metadata points are not wrapped in `<tei:p>` in the <tei:

[2022-11-20 01:16] JanelleJenstad commented on #77
Actually, Pat mentioned last week that he was going to write styling for pop-ups, so it may be that this problem is already fixed in Pat's new design.

[2022-11-21 04:36] JanelleJenstad commented on #2
I think this is an excellent solution. Let's make it so.
I wonder if the instances of `<persName>` and `<orgName>` without `@ref` were created by editors while waiting for us to make an xml:id. We can probably fix those relatively quickly and then write a Schematron rule that those two elements must have the ref attribute.
I imagine there are other ways to constrain things -- e.g., disallow `<name

[2022-11-21 05:06] JanelleJenstad commented on #36
I like the new title page rendering and so does Mark. Thanks for fixing it!

[2022-11-21 18:44] JanelleJenstad commented on #67
Anything with plc-left-margin should be moved to the right margin in the processing. We already have documentation for editors explaining why we shift things to the right margin.

[2022-11-22 16:57] martindholmes commented on #77
Fixed in rev 11420. It's  not a Pat problem, it's an XSLT thing.

[2022-11-22 16:57] #77 closed, assigned to martindholmes, pszpak

[2022-11-22 17:01] martindholmes commented on #73
There is a discussion on this ticket in Teams; it's by no means as simple as it seems, and doing what's asked on this ticket will make more things worse than things better. On pause for the moment.

[2022-11-22 17:03] martindholmes commented on #67
Are we sure that entrances with plc-left-margin should be rendered in the right margin even though they're entrances?

[2022-11-22 17:06] JanelleJenstad commented on #67
Good question.
Anything with plc-left-margin that does _not_ have `@type="entrance"` should be rendered in the right margin.
Anything with  `@type="entrance"` should be rendered left and aligned with the textblock, regardless of its plc- value.

[2022-11-22 18:12] martindholmes commented on #64
I've implemented a quick-and-dirty version of this in revs running up to 11422, and I'll now bring in Pat to clean it up. @pszpak, take a look at emd1HW_Q1.html to see an instance. Feel free to do anything you like to make it better.

[2022-11-22 21:55] LEMDO-PM opened #78 "Add static search to MoMS site"
Trying to use the MoMS alpha site search function currently leads to an error 404 page. Please add the static search function.

[2022-11-22 22:17] JanelleJenstad opened #79 "Display text node of editionStmt element in the metadata pane and tweak another row"
Please add a row to the metadata pane as follows:

1. label in LH column should be Edition; variable content in RH column should be drawn from the text node of `<p>` inside `<editionStmt>`

RELATED: We have a label for "Type of Text" but the RH column isn't being populated. Unless we can pull in the text node of the `<term>` element in TAXO  from tax:emdDocumentTypes, I suggest we suppress this ro

[2022-11-23 17:44] martindholmes commented on #79
@JanelleJenstad I've implemented the editionStmt as of rev 11446. Re the "Type of text": it's trying to pull that info from `titleStmt/title[@type='alt']`. I can set it up so that it pulls from the taxonomy based on the first instance of `<catRef scheme="tax:emdDocumentTypes".../>`.

[2022-11-23 17:45] martindholmes commented on #79
Incidentally, the labels used here in the left hand column are all hard-coded into the XSLT, which is a bad way to do things. I think we need a distinct XSLT module for captions, where they can be more easily maintained. I'll raise a ticket for that.

[2022-11-23 17:46] martindholmes opened #80 "All hard-coded strings should be abstracted to a captions module"
There are lots of captions which are hard-coded into the XSLT, dating back years (for example, the captions in the left column of the Metadata table). These should be abstracted into a central captions module.

[2022-11-23 17:56] JanelleJenstad commented on #79
Thank you! And thanks for noticing that we need to handle captions better.

[2022-11-23 17:57] martindholmes commented on #79
OK, the Type of text value is now taken from the emdDocumentTypes taxonomy as of rev 11447. Closing this.

[2022-11-23 17:57] #79 closed, assigned to martindholmes

[2022-11-23 18:10] martindholmes commented on #78
Done in rev 11448.

[2022-11-23 18:10] #78 closed, assigned to martindholmes, LEMDO-PM

[2022-11-23 22:15] martindholmes commented on #80
Started work on this, and abstracted all the obvious captions to a central captions file. There will be more lurking in plain text nodes.

[2022-11-23 22:46] martindholmes commented on #80
I've done everything I can find in XHTML output nodes, but there are another few dozen in the TEI processing stages that need to be done.

[2022-11-24 00:10] martindholmes commented on #73
Team meeting today decided on adding quotes around glosses, so I've added gloss to the same template that handles q in rev 11457. We shall see where the chips fall.

[2022-11-24 06:46] JanelleJenstad opened #81 "Display licensing information"
All the published files are licensed and have an availability statement. For example:
` <availability>
               <licence from="2022-11-15" resp="pers:JENS1" corresp="anth:moms"/>
               <p>Intellectual copyright is held jointly by the authors, Mark Kaethler and Janelle Jenstad. The XML file is licensed under a <ref target="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC_

[2022-11-24 16:58] LEMDO-PM commented on #81
Yes, I think that it would be valuable to add it to the metadata panel.

[2022-11-25 21:00] martindholmes commented on #81
Will do.

[2022-11-25 21:07] martindholmes commented on #81
Done in rev 11496.

[2022-11-25 21:07] #81 closed, assigned to martindholmes, JanelleJenstad, LEMDO-PM

[2022-11-25 21:08] martindholmes commented on #73
@JanelleJenstad @Navarra-Houldin Is the output working for you? Can we close the ticket?

[2022-11-25 21:29] LEMDO-PM commented on #73
@martindholmes Yes, that looks perfect. Thanks!

[2022-11-26 01:23] #73 closed, assigned to martindholmes, LEMDO-PM

[2022-11-29 00:19] martindholmes commented on #80
Completed first pass at rev 11532.

[2022-11-29 16:28] LEMDO-PM opened #82 "Generate elementSpec and Attribute Lists"
If possible, please write processing to generate a list of all elementSpecs in learn_elementsIntro.xml and processing to generate a list of all attributes in LEMDO's attribute classes in learn_attributesIntro.xml

[2022-11-29 21:57] JanelleJenstad opened #83 "Map current biblStruct contents onto standard LEMDO encoding"
There is some information captured in `<biblStruct>` elements in facsimiles. We want to retire the `<biblStruct>` element entirely. Janelle needs to figure out what we want instead.
Then Martin will help Navarra figure out how to write XSLT to make this change.